body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:relative;
  left:-65px;
  width:1002px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5606 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:104px;
  width:1002px;
  height:142px;
  display:flex;
  transition:none;
}
#u5606 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1002px;
  height:142px;
}
#u5606_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
