body {
  margin:0px;
  background-color:rgba(27, 27, 27, 0.7490196078431373);
  background-image:none;
  position:relative;
  left:-45px;
  width:1144px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u9162 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:94px;
  width:1144px;
  height:572px;
  display:flex;
  transition:none;
}
#u9162 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1144px;
  height:572px;
}
#u9162_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FEFEFE;
}
#u9163 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:51px;
  width:239px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FEFEFE;
}
#u9163 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9163_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
