body {
  margin:0px;
  background-color:rgba(157, 154, 154, 1);
  background-image:none;
  position:relative;
  left:-195px;
  width:3690px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8442 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:83px;
  width:3690px;
  height:4744px;
  display:flex;
  transition:none;
}
#u8442 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3690px;
  height:4744px;
}
#u8442_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
