body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  position:relative;
  left:-150px;
  width:3158px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u31257 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:2747px;
  width:974px;
  height:1818px;
  display:flex;
  transition:none;
}
#u31257 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:974px;
  height:1818px;
}
#u31257_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31258 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:3026px;
  width:355px;
  height:51px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(217, 0, 27, 0.8470588235294118);
}
#u31258 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:51px;
}
#u31258_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31259 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:3820px;
  width:275px;
  height:34px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(217, 0, 27, 0.8470588235294118);
}
#u31259 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:34px;
}
#u31259_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31260 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:3086px;
  width:899px;
  height:225px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#8400FF;
}
#u31260 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:899px;
  height:225px;
}
#u31260_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31261 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:3505px;
  width:759px;
  height:223px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#8400FF;
}
#u31261 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:759px;
  height:223px;
}
#u31261_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31262 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:3352px;
  width:891px;
  height:115px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#8400FF;
}
#u31262 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:891px;
  height:115px;
}
#u31262_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31263 {
  border-width:0px;
  position:absolute;
  left:1215px;
  top:2747px;
  width:906px;
  height:2044px;
  display:flex;
  transition:none;
}
#u31263 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:906px;
  height:2044px;
}
#u31263_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31264_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:41px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.6470588235294118);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u31264 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:4292px;
  width:852px;
  height:41px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u31264 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31264_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31265 {
  border-width:0px;
  position:absolute;
  left:1247px;
  top:3404px;
  width:759px;
  height:205px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#8400FF;
}
#u31265 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:759px;
  height:205px;
}
#u31265_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31266 {
  border-width:0px;
  position:absolute;
  left:1247px;
  top:3277px;
  width:759px;
  height:83px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#8400FF;
}
#u31266 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:759px;
  height:83px;
}
#u31266_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31267 {
  border-width:0px;
  position:absolute;
  left:1277px;
  top:3052px;
  width:759px;
  height:201px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#8400FF;
}
#u31267 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:759px;
  height:201px;
}
#u31267_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31268 {
  border-width:0px;
  position:absolute;
  left:1277px;
  top:3609px;
  width:759px;
  height:326px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#34C8B8;
}
#u31268 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:759px;
  height:326px;
}
#u31268_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31269 {
  border-width:0px;
  position:absolute;
  left:1337px;
  top:4148px;
  width:711px;
  height:296px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#1890FF;
}
#u31269 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:711px;
  height:296px;
}
#u31269_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31270 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:2373px;
  width:1192px;
  height:307px;
  display:flex;
  transition:none;
}
#u31270 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1192px;
  height:307px;
}
#u31270_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31271 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:1936px;
  width:866px;
  height:317px;
  display:flex;
  transition:none;
}
#u31271 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:866px;
  height:317px;
}
#u31271_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31272 {
  border-width:0px;
  position:absolute;
  left:1091px;
  top:1936px;
  width:1061px;
  height:394px;
  display:flex;
  transition:none;
}
#u31272 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1061px;
  height:394px;
}
#u31272_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31273 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:120px;
  width:974px;
  height:1405px;
  display:flex;
  transition:none;
}
#u31273 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:974px;
  height:1405px;
}
#u31273_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31274 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:422px;
  width:798px;
  height:82px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(217, 0, 27, 0.8470588235294118);
}
#u31274 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:798px;
  height:82px;
}
#u31274_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31275 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:1208px;
  width:949px;
  height:216px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(217, 0, 27, 0.8470588235294118);
}
#u31275 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:216px;
}
#u31275_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31276_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(217, 0, 27, 0.8470588235294118);
}
#u31276 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:902px;
  width:131px;
  height:69px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(217, 0, 27, 0.8470588235294118);
}
#u31276 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31276_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u31277 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:532px;
  width:949px;
  height:170px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#8400FF;
}
#u31277 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:170px;
}
#u31277_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31278 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:721px;
  width:949px;
  height:75px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(217, 0, 27, 0.8470588235294118);
}
#u31278 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:75px;
}
#u31278_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31279 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:824px;
  width:949px;
  height:55px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#8400FF;
}
#u31279 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:55px;
}
#u31279_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31280 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:1081px;
  width:949px;
  height:102px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#8400FF;
}
#u31280 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:102px;
}
#u31280_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31281 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:1449px;
  width:949px;
  height:51px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#8400FF;
}
#u31281 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:51px;
}
#u31281_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31282 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:315px;
  width:949px;
  height:76px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#8400FF;
}
#u31282 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:76px;
}
#u31282_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31283 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:936px;
  width:867px;
  height:98px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#34C8B8;
}
#u31283 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:867px;
  height:98px;
}
#u31283_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:834px;
  height:62px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.6470588235294118);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u31284 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:3854px;
  width:834px;
  height:62px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u31284 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31284_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31285 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31286 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
  line-height:22px;
}
#u31287 {
  border-width:0px;
  position:absolute;
  left:2874px;
  top:-211px;
  width:434px;
  height:72px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
  line-height:22px;
}
#u31287 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 0px 8px 12px;
  box-sizing:border-box;
  width:100%;
}
#u31287_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31288 {
  border-width:0px;
  position:absolute;
  left:3294px;
  top:-153px;
  width:11px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u31288 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 8px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:5px;
}
#u31288_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31289_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AAAAAA;
}
#u31289 {
  border-width:0px;
  position:absolute;
  left:3247px;
  top:-170px;
  width:52px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AAAAAA;
}
#u31289 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31289_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31290_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.8470588235294118);
  text-align:right;
  line-height:22px;
}
#u31290 {
  border-width:0px;
  position:absolute;
  left:2801px;
  top:-215px;
  width:57px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.8470588235294118);
  text-align:right;
  line-height:22px;
}
#u31290 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31290_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u31291_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.42745098039215684);
  line-height:22px;
}
#u31291 {
  border-width:0px;
  position:absolute;
  left:2874px;
  top:-139px;
  width:251px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.42745098039215684);
  line-height:22px;
}
#u31291 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31291_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AAAAAA;
}
#u31292 {
  border-width:0px;
  position:absolute;
  left:2884px;
  top:-203px;
  width:211px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AAAAAA;
}
#u31292 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31292_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u31293_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(217, 0, 27, 0.8470588235294118);
  text-align:center;
}
#u31293 {
  border-width:0px;
  position:absolute;
  left:929px;
  top:1236px;
  width:300px;
  height:87px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(217, 0, 27, 0.8470588235294118);
  text-align:center;
}
#u31293 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31293_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31294_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(217, 0, 27, 0.8470588235294118);
  text-align:center;
}
#u31294 {
  border-width:0px;
  position:absolute;
  left:1007px;
  top:-421px;
  width:300px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(217, 0, 27, 0.8470588235294118);
  text-align:center;
}
#u31294 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31294_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31295_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u31295 {
  border-width:0px;
  position:absolute;
  left:2884px;
  top:-115px;
  width:179px;
  height:87px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u31295 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31295_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31296_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u31296 {
  border-width:0px;
  position:absolute;
  left:2415px;
  top:-112px;
  width:300px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u31296 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31296_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31297 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:879px;
  width:867px;
  height:44px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#34C8B8;
}
#u31297 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:867px;
  height:44px;
}
#u31297_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
