body {
  margin:0px;
  background-color:rgba(85, 85, 85, 1);
  background-image:none;
  position:relative;
  left:-125px;
  width:2381px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2504 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:47px;
  width:792px;
  height:1412px;
  display:flex;
  transition:none;
}
#u2504 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:792px;
  height:1412px;
}
#u2504_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2505_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:800px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2505 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:144px;
  width:529px;
  height:800px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2505 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2505_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2506 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:427px;
  width:408px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(0.02352043361848885deg);
  -moz-transform:rotate(0.02352043361848885deg);
  -ms-transform:rotate(0.02352043361848885deg);
  transform:rotate(0.02352043361848885deg);
  transition:none;
}
#u2506 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2506_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:424px;
  height:31px;
}
#u2506_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:28px;
  color:#F59A23;
}
#u2507 {
  border-width:0px;
  position:absolute;
  left:783px;
  top:456px;
  width:281px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:28px;
  color:#F59A23;
}
#u2507 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2507_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2508 {
  border-width:0px;
  position:absolute;
  left:1086px;
  top:47px;
  width:1420px;
  height:1260px;
  display:flex;
  transition:none;
}
#u2508 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1420px;
  height:1260px;
}
#u2508_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
