body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:relative;
  left:-112px;
  width:1750px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1647 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:126px;
  width:1750px;
  height:1004px;
  display:flex;
  transition:none;
}
#u1647 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1750px;
  height:1004px;
}
#u1647_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:61px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1648 {
  border-width:0px;
  position:absolute;
  left:938px;
  top:543px;
  width:124px;
  height:61px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1648 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1648_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1649 {
  border-width:0px;
  position:absolute;
  left:963px;
  top:513px;
  width:59px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1649 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1649_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1650_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1650 {
  border-width:0px;
  position:absolute;
  left:963px;
  top:513px;
  width:57px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1650 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1650_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
