body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  position:relative;
  left:-17px;
  width:2624px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u9850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:549px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u9850 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:150px;
  width:549px;
  height:87px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u9850 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9850_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9851_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9851 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:409px;
  width:106px;
  height:38px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9851 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9851_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9852_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9852 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:581px;
  width:98px;
  height:61px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9852 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9852_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9853_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9853 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:581px;
  width:98px;
  height:61px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9853 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9853_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9854 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:447px;
  width:0px;
  height:0px;
  transition:none;
}
#u9854_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:139px;
}
#u9854_seg1 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:115px;
  width:34px;
  height:34px;
}
#u9854_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:59px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9855 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:447px;
  width:0px;
  height:0px;
  transition:none;
}
#u9855_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:70px;
}
#u9855_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:60px;
  width:172px;
  height:10px;
}
#u9855_seg2 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:60px;
  width:10px;
  height:74px;
}
#u9855_seg3 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:115px;
  width:34px;
  height:34px;
}
#u9855_text {
  border-width:0px;
  position:absolute;
  left:33px;
  top:57px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9856_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9856 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:695px;
  width:98px;
  height:61px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9856 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9856_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9857 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:642px;
  width:0px;
  height:0px;
  transition:none;
}
#u9857_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:58px;
}
#u9857_seg1 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:34px;
  width:34px;
  height:34px;
}
#u9857_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9858_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9858 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:695px;
  width:98px;
  height:61px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9858 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9858_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9859 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:642px;
  width:0px;
  height:0px;
  transition:none;
}
#u9859_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:58px;
}
#u9859_seg1 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:34px;
  width:34px;
  height:34px;
}
#u9859_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9860 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9861 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9862 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9863 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9864 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9865 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9866 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9867 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9868 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9869 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9870 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9871 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9872 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9873 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9874 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9875 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9876 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:843px;
  width:98px;
  height:61px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9876 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9876_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9877 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:756px;
  width:0px;
  height:0px;
  transition:none;
}
#u9877_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:92px;
}
#u9877_seg1 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:68px;
  width:34px;
  height:34px;
}
#u9877_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:36px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9878_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u9878 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:103px;
  width:269px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u9878 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9878_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u9879 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:307px;
  width:393px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u9879 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9879_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9880 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:397px;
  width:1124px;
  height:437px;
}
#u9881 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9881 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u9881_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9882 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:309px;
  height:30px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9882 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:30px;
}
#u9882_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9883 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:0px;
  width:701px;
  height:30px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9883 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:701px;
  height:30px;
}
#u9883_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9884 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:120px;
  height:130px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9884 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:130px;
}
#u9884_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9885 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:30px;
  width:309px;
  height:130px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9885 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:130px;
}
#u9885_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9886 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:30px;
  width:701px;
  height:130px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9886 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:701px;
  height:130px;
}
#u9886_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9887 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:120px;
  height:146px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9887 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:146px;
}
#u9887_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9888 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:160px;
  width:309px;
  height:146px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9888 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:146px;
}
#u9888_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9889 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:160px;
  width:701px;
  height:146px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9889 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:701px;
  height:146px;
}
#u9889_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9890 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:306px;
  width:120px;
  height:127px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9890 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:127px;
}
#u9890_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9891 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:306px;
  width:309px;
  height:127px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9891 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:127px;
}
#u9891_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9892 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:306px;
  width:701px;
  height:127px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9892 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:701px;
  height:127px;
}
#u9892_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9893_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9893 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:843px;
  width:98px;
  height:61px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9893 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9893_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9894 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:756px;
  width:0px;
  height:0px;
  transition:none;
}
#u9894_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:92px;
}
#u9894_seg1 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:68px;
  width:34px;
  height:34px;
}
#u9894_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:36px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9895_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9895 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:581px;
  width:98px;
  height:61px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9895 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9895_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9896_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9896 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:843px;
  width:98px;
  height:61px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9896 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9896_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9897 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:642px;
  width:0px;
  height:0px;
  transition:none;
}
#u9897_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:206px;
}
#u9897_seg1 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:182px;
  width:34px;
  height:34px;
}
#u9897_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:92px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9898 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:447px;
  width:0px;
  height:0px;
  transition:none;
}
#u9898_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:69px;
}
#u9898_seg1 {
  border-width:0px;
  position:absolute;
  left:-168px;
  top:59px;
  width:173px;
  height:10px;
}
#u9898_seg2 {
  border-width:0px;
  position:absolute;
  left:-168px;
  top:59px;
  width:10px;
  height:75px;
}
#u9898_seg3 {
  border-width:0px;
  position:absolute;
  left:-180px;
  top:115px;
  width:34px;
  height:34px;
}
#u9898_text {
  border-width:0px;
  position:absolute;
  left:-134px;
  top:56px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9899_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u9899 {
  border-width:0px;
  position:absolute;
  left:1904px;
  top:443px;
  width:184px;
  height:138px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u9899 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9899_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9900 {
  border-width:0px;
  position:absolute;
  left:2125px;
  top:409px;
  width:516px;
  height:284px;
}
#u9901 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9901 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u9901_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9902 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:396px;
  height:40px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9902 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:40px;
}
#u9902_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9903 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:120px;
  height:76px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9903 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:76px;
}
#u9903_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9904 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:40px;
  width:396px;
  height:76px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9904 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:76px;
}
#u9904_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9905 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:116px;
  width:120px;
  height:79px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9905 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:79px;
}
#u9905_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9906 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:116px;
  width:396px;
  height:79px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9906 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:79px;
}
#u9906_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9907 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:195px;
  width:120px;
  height:91px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9907 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:91px;
}
#u9907_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9908 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:195px;
  width:396px;
  height:91px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9908 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:91px;
}
#u9908_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9909 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:831px;
  width:33px;
  height:33px;
  display:flex;
  transition:none;
  font-size:16px;
  color:#FF0000;
}
#u9909 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u9909_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9910 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:382px;
  width:33px;
  height:33px;
  display:flex;
  transition:none;
  font-size:16px;
  color:#FF0000;
}
#u9910 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u9910_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9911 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:831px;
  width:33px;
  height:33px;
  display:flex;
  transition:none;
  font-size:16px;
  color:#FF0000;
}
#u9911 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u9911_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9912 {
  border-width:0px;
  position:absolute;
  left:727px;
  top:902px;
  width:33px;
  height:33px;
  display:flex;
  transition:none;
  font-size:16px;
  color:#FF0000;
}
#u9912 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u9912_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9913 {
  border-width:0px;
  position:absolute;
  left:773px;
  top:902px;
  width:488px;
  height:398px;
}
#u9914 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9914 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u9914_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9915 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:364px;
  height:30px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9915 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:30px;
}
#u9915_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9916 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:120px;
  height:253px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9916 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:253px;
}
#u9916_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9917 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:30px;
  width:364px;
  height:253px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9917 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:253px;
}
#u9917_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9918 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:283px;
  width:120px;
  height:57px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9918 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:57px;
}
#u9918_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9919 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:283px;
  width:364px;
  height:57px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9919 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:57px;
}
#u9919_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9920 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:340px;
  width:120px;
  height:62px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9920 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:62px;
}
#u9920_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9921 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:340px;
  width:364px;
  height:62px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9921 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:62px;
}
#u9921_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9922_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u9922 {
  border-width:0px;
  position:absolute;
  left:1258px;
  top:919px;
  width:239px;
  height:98px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u9922 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9922_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9923 {
  border-width:0px;
  position:absolute;
  left:1497px;
  top:902px;
  width:500px;
  height:266px;
}
#u9924 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9924 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u9924_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9925 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:380px;
  height:40px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9925 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:40px;
}
#u9925_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9926 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:120px;
  height:105px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9926 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:105px;
}
#u9926_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9927 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:40px;
  width:380px;
  height:105px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9927 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:105px;
}
#u9927_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9928 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:145px;
  width:120px;
  height:57px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9928 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:57px;
}
#u9928_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9929 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:145px;
  width:380px;
  height:57px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9929 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9929_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:57px;
}
#u9929_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9930 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:202px;
  width:120px;
  height:62px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9930 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9930_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:62px;
}
#u9930_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9931 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:202px;
  width:380px;
  height:62px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9931 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9931_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:62px;
}
#u9931_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9932 {
  border-width:0px;
  position:absolute;
  left:1932px;
  top:547px;
  width:129px;
  height:130px;
  display:flex;
  transition:none;
}
#u9932 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9932_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:130px;
}
#u9932_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9933 {
  border-width:0px;
  position:absolute;
  left:1329px;
  top:993px;
  width:129px;
  height:130px;
  display:flex;
  transition:none;
}
#u9933 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:130px;
}
#u9933_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9934_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#63A103;
  text-align:center;
}
#u9934 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:868px;
  width:145px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#63A103;
  text-align:center;
}
#u9934 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9934_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9935_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:12px;
  filter:drop-shadow(none);
  transition:none;
}
#u9935 {
  border-width:0px;
  position:absolute;
  left:773px;
  top:1347px;
  width:368px;
  height:39px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u9935 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9935_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9936_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:12px;
  filter:drop-shadow(none);
  transition:none;
}
#u9936 {
  border-width:0px;
  position:absolute;
  left:1904px;
  top:677px;
  width:199px;
  height:79px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u9936 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9936_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9937_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9937 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:974px;
  width:98px;
  height:61px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9937 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9937_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9938 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:904px;
  width:0px;
  height:0px;
  transition:none;
}
#u9938_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:75px;
}
#u9938_seg1 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:51px;
  width:34px;
  height:34px;
}
#u9938_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:27px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9939 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:1005px;
  width:0px;
  height:0px;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9939_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:66px;
  height:10px;
}
#u9939_seg1 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:-136px;
  width:10px;
  height:141px;
}
#u9939_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-136px;
  width:66px;
  height:10px;
}
#u9939_seg3 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-148px;
  width:34px;
  height:34px;
}
#u9939_text {
  border-width:0px;
  position:absolute;
  left:11px;
  top:-92px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u9940_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:12px;
  filter:drop-shadow(none);
  transition:none;
}
#u9940 {
  border-width:0px;
  position:absolute;
  left:1180px;
  top:363px;
  width:410px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u9940 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9940_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9941 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:829px;
  width:33px;
  height:33px;
  display:flex;
  transition:none;
  font-size:16px;
  color:#FF0000;
}
#u9941 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9941_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u9941_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9942 {
  border-width:0px;
  position:absolute;
  left:727px;
  top:1427px;
  width:33px;
  height:33px;
  display:flex;
  transition:none;
  font-size:16px;
  color:#FF0000;
}
#u9942 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9942_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u9942_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9943_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9943 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:974px;
  width:98px;
  height:61px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9943 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9943_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9944 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:1005px;
  width:0px;
  height:0px;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9944_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:10px;
}
#u9944_seg1 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-136px;
  width:10px;
  height:141px;
}
#u9944_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-136px;
  width:18px;
  height:10px;
}
#u9944_seg3 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-148px;
  width:34px;
  height:34px;
}
#u9944_text {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:-92px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u9945_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9945 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:974px;
  width:98px;
  height:61px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9945 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9945_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9946 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:904px;
  width:0px;
  height:0px;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9946_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:75px;
}
#u9946_seg1 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:51px;
  width:34px;
  height:34px;
}
#u9946_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:27px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9947 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:904px;
  width:0px;
  height:0px;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9947_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:75px;
}
#u9947_seg1 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:51px;
  width:34px;
  height:34px;
}
#u9947_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:27px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9948_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9948 {
  border-width:0px;
  position:absolute;
  left:778px;
  top:1427px;
  width:358px;
  height:54px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9948 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9948_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
