body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  position:relative;
  left:-27px;
  width:1816px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u16701_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16701 {
  border-width:0px;
  position:absolute;
  left:712px;
  top:525px;
  width:131px;
  height:105px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16701 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16701_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16702_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16702 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:367px;
  width:196px;
  height:105px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16702 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16702_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16703_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16703 {
  border-width:0px;
  position:absolute;
  left:1209px;
  top:390px;
  width:100px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16703 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16703_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16704 {
  border-width:0px;
  position:absolute;
  left:1113px;
  top:420px;
  width:0px;
  height:0px;
  transition:none;
}
#u16704_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:101px;
  height:10px;
}
#u16704_seg1 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:-16px;
  width:32px;
  height:32px;
}
#u16704_text {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16705_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16705 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:82px;
  width:168px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16705 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16705_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16706_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16706 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:202px;
  width:295px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16706 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16706_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16707 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:142px;
  width:0px;
  height:0px;
  transition:none;
}
#u16707_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:95px;
}
#u16707_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:85px;
  width:84px;
  height:10px;
}
#u16707_seg2 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:74px;
  width:32px;
  height:32px;
}
#u16707_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:76px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16708_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16708 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:583px;
  width:66px;
  height:38px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16708 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16708_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16709_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16709 {
  border-width:0px;
  position:absolute;
  left:933px;
  top:420px;
  width:64px;
  height:38px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16709 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16709_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16710 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:175px;
  width:817px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  transition:none;
}
#u16710 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:818px;
  height:2px;
}
#u16710_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16711 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:282px;
  width:817px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  transition:none;
}
#u16711 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:818px;
  height:2px;
}
#u16711_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16712_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u16712 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:103px;
  width:79px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u16712 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16712_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16713_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u16713 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:223px;
  width:79px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u16713 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16713_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16714_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u16714 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:385px;
  width:79px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u16714 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16714_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16715 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:232px;
  width:0px;
  height:0px;
  transition:none;
}
#u16715_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:137px;
  height:10px;
}
#u16715_seg1 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:-5px;
  width:10px;
  height:198px;
}
#u16715_seg2 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:183px;
  width:142px;
  height:10px;
}
#u16715_seg3 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:172px;
  width:32px;
  height:32px;
}
#u16715_text {
  border-width:0px;
  position:absolute;
  left:82px;
  top:88px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16716_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:252px;
  background:inherit;
  background-color:rgba(250, 205, 145, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:7px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u16716 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:264px;
  width:335px;
  height:252px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u16716 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16716_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16717_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16717 {
  border-width:0px;
  position:absolute;
  left:1004px;
  top:420px;
  width:64px;
  height:38px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16717 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16717_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16718 {
  border-width:0px;
  position:absolute;
  left:778px;
  top:525px;
  width:0px;
  height:0px;
  transition:none;
}
#u16718_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-85px;
  width:10px;
  height:85px;
}
#u16718_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-85px;
  width:143px;
  height:10px;
}
#u16718_seg2 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:-89px;
  width:19px;
  height:18px;
}
#u16718_text {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:-88px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16719_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:179px;
  background:inherit;
  background-color:rgba(250, 205, 145, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:7px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u16719 {
  border-width:0px;
  position:absolute;
  left:1075px;
  top:479px;
  width:335px;
  height:179px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u16719 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16719_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16720 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:367px;
  width:100px;
  height:60px;
  display:flex;
  transition:none;
}
#u16720 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u16720_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16720_ref {
  border-width:0px;
  position:absolute;
  left:466px;
  top:417px;
  width:1px;
  height:1px;
}
#u16721 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:367px;
  width:100px;
  height:60px;
  display:flex;
  transition:none;
}
#u16721 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u16721_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16721_ref {
  border-width:0px;
  position:absolute;
  left:579px;
  top:417px;
  width:1px;
  height:1px;
}
#u16722 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:439px;
  width:100px;
  height:60px;
  display:flex;
  transition:none;
}
#u16722 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u16722_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16722_ref {
  border-width:0px;
  position:absolute;
  left:466px;
  top:489px;
  width:1px;
  height:1px;
}
#u16723 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:439px;
  width:100px;
  height:60px;
  display:flex;
  transition:none;
}
#u16723 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u16723_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16723_ref {
  border-width:0px;
  position:absolute;
  left:579px;
  top:489px;
  width:1px;
  height:1px;
}
#u16724 {
  border-width:0px;
  position:absolute;
  left:1085px;
  top:585px;
  width:100px;
  height:60px;
  display:flex;
  transition:none;
}
#u16724 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u16724_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16724_ref {
  border-width:0px;
  position:absolute;
  left:1177px;
  top:635px;
  width:1px;
  height:1px;
}
#u16725 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:710px;
  width:1816px;
  height:839px;
  display:flex;
  transition:none;
}
#u16725 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1816px;
  height:839px;
}
#u16725_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
