body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  position:relative;
  left:-48px;
  width:731px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u19125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u19125 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:39px;
  width:696px;
  height:61px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u19125 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19125_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:731px;
  height:169px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u19126 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:110px;
  width:731px;
  height:169px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u19126 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19126_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u19127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:162px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u19127 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:289px;
  width:650px;
  height:162px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u19127 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19127_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
