body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:relative;
  left:-26px;
  width:1499px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5901 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:364px;
  width:641px;
  height:174px;
  display:flex;
  transition:none;
}
#u5901 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:174px;
}
#u5901_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5902_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 154, 24, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u5902 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:36px;
  width:127px;
  height:39px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5902 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5902_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u5903 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:43px;
  width:55px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u5903 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5903_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5904 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:114px;
  width:666px;
  height:193px;
  display:flex;
  transition:none;
}
#u5904 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:666px;
  height:193px;
}
#u5904_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5905 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:202px;
  width:1px;
  height:163px;
  display:flex;
  -webkit-transform:rotate(-0.15594457975202655deg);
  -moz-transform:rotate(-0.15594457975202655deg);
  -ms-transform:rotate(-0.15594457975202655deg);
  transform:rotate(-0.15594457975202655deg);
  transition:none;
}
#u5905 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5905_img {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:0px;
  width:33px;
  height:179px;
}
#u5905p000 {
  border-width:0px;
  position:absolute;
  left:-83px;
  top:78px;
  width:168px;
  height:6px;
  -webkit-transform:rotate(90.15594457975203deg);
  -moz-transform:rotate(90.15594457975203deg);
  -ms-transform:rotate(90.15594457975203deg);
  transform:rotate(90.15594457975203deg);
}
#u5905p000_img {
  border-width:0px;
  position:absolute;
  left:-0px;
  top:0px;
  width:168px;
  height:6px;
}
#u5905p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-2px;
  width:4px;
  height:4px;
  -webkit-transform:rotate(0.15594457975202655deg);
  -moz-transform:rotate(0.15594457975202655deg);
  -ms-transform:rotate(0.15594457975202655deg);
  transform:rotate(0.15594457975202655deg);
}
#u5905p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u5905p002 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:138px;
  width:36px;
  height:36px;
  -webkit-transform:rotate(-89.84405542024797deg);
  -moz-transform:rotate(-89.84405542024797deg);
  -ms-transform:rotate(-89.84405542024797deg);
  transform:rotate(-89.84405542024797deg);
}
#u5905p002_img {
  border-width:0px;
  position:absolute;
  left:-0px;
  top:-0px;
  width:36px;
  height:36px;
}
#u5905_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5906 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:173px;
  width:743px;
  height:385px;
  display:flex;
  transition:none;
}
#u5906 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:743px;
  height:385px;
}
#u5906_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5907 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:94px;
  width:720px;
  height:464px;
  display:flex;
  transition:none;
}
#u5907 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:464px;
}
#u5907_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FBF9F9;
}
#u5908 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:141px;
  width:267px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FBF9F9;
}
#u5908 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5908_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
