body {
  margin:0px;
  background-color:rgba(121, 121, 121, 1);
  background-image:none;
  position:relative;
  left:-38px;
  width:1161px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u9027 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:922px;
  width:1161px;
  height:224px;
  display:flex;
  transition:none;
}
#u9027 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9027_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1161px;
  height:224px;
}
#u9027_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9028_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:166px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u9028 {
  border-width:0px;
  position:absolute;
  left:758px;
  top:1173px;
  width:318px;
  height:166px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u9028 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9028_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9029_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u9029 {
  border-width:0px;
  position:absolute;
  left:767px;
  top:1188px;
  width:63px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u9029 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9029_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9030 {
  border-width:0px;
  position:absolute;
  left:841px;
  top:1188px;
  width:198px;
  height:151px;
  display:flex;
  transition:none;
}
#u9030 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:151px;
}
#u9030_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9031 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:1050px;
  width:3px;
  height:123px;
  display:flex;
  transition:none;
}
#u9031 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9031_img {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-2px;
  width:25px;
  height:136px;
}
#u9031p000 {
  border-width:0px;
  position:absolute;
  left:-63px;
  top:58px;
  width:128px;
  height:6px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u9031p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:6px;
}
#u9031p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-2px;
  width:6px;
  height:6px;
}
#u9031p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u9031p002 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:102px;
  width:28px;
  height:28px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u9031p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u9031_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9032_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u9032 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:1173px;
  width:299px;
  height:62px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u9032 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9032_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9033 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:1155px;
  width:34px;
  height:34px;
  display:flex;
  transition:none;
  font-size:16px;
  color:#FF0000;
}
#u9033 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9033_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u9033_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9034 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:520px;
  width:1000px;
  height:381px;
  display:flex;
  transition:none;
}
#u9034 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:381px;
}
#u9034_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9035 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:677px;
  width:34px;
  height:34px;
  display:flex;
  transition:none;
  font-size:16px;
  color:#FF0000;
}
#u9035 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9035_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u9035_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
