body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  position:relative;
  left:-43px;
  width:667px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u16827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u16827 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:36px;
  width:461px;
  height:87px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u16827 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16827_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16828_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u16828 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:829px;
  width:556px;
  height:54px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u16828 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16828_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:267px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u16829 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:513px;
  width:461px;
  height:267px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u16829 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16829_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16830 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:467px;
  width:94px;
  height:26px;
  display:flex;
  transition:none;
}
#u16830 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:26px;
}
#u16830_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#D9001B;
}
#u16831 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:493px;
  width:51px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#D9001B;
}
#u16831 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16831_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16832 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:107px;
  width:667px;
  height:383px;
  display:flex;
  transition:none;
}
#u16832 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:383px;
}
#u16832_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
