body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:relative;
  left:-92px;
  width:734px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8437 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:495px;
  width:734px;
  height:388px;
  display:flex;
  transition:none;
}
#u8437 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:734px;
  height:388px;
}
#u8437_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8438 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:55px;
  width:604px;
  height:356px;
  display:flex;
  transition:none;
}
#u8438 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:604px;
  height:356px;
}
#u8438_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8439_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FE001E;
}
#u8439 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:104px;
  width:79px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FE001E;
}
#u8439 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8439_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8440 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:355px;
  width:5px;
  height:103px;
  display:flex;
  -webkit-transform:rotate(-0.3031548317590522deg);
  -moz-transform:rotate(-0.3031548317590522deg);
  -ms-transform:rotate(-0.3031548317590522deg);
  transform:rotate(-0.3031548317590522deg);
  transition:none;
  color:#FE001E;
}
#u8440 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8440_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-3px;
  width:31px;
  height:119px;
}
#u8440_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:727px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FEFEFE;
}
#u8441 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:465px;
  width:727px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FEFEFE;
}
#u8441 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8441_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
