body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:relative;
  left:-21px;
  width:1289px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7824 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:54px;
  width:1px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7824 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7824_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u7825 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:75px;
  width:757px;
  height:399px;
  display:flex;
  transition:none;
}
#u7825 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:757px;
  height:399px;
}
#u7825_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7826 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:573px;
  width:285px;
  height:642px;
  display:flex;
  transition:none;
}
#u7826 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:642px;
}
#u7826_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 238, 238, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7827 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:809px;
  width:39px;
  height:44px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7827 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7827_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7828 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:812px;
  width:18px;
  height:19px;
  display:flex;
  transition:none;
}
#u7828 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:19px;
}
#u7828_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u7829 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:840px;
  width:37px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u7829 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7829_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7830 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:1443px;
  width:765px;
  height:411px;
  display:flex;
  transition:none;
}
#u7830 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:765px;
  height:411px;
}
#u7830_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7831 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:1876px;
  width:806px;
  height:385px;
  display:flex;
  transition:none;
}
#u7831 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:806px;
  height:385px;
}
#u7831_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7832 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:1456px;
  width:276px;
  height:642px;
  display:flex;
  transition:none;
}
#u7832 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:642px;
}
#u7832_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:244px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7833 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:1533px;
  width:260px;
  height:244px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7833 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7833_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:306px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7834 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:1786px;
  width:260px;
  height:306px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7834 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7834_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u7835 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:1544px;
  width:53px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u7835 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7835_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7836_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u7836 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:1677px;
  width:27px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u7836 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7836_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u7837 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:1804px;
  width:79px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u7837 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7837_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u7838 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:1940px;
  width:27px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u7838 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7838_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7839 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:573px;
  width:276px;
  height:642px;
  display:flex;
  transition:none;
}
#u7839 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:642px;
}
#u7839_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7840 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:596px;
  width:138px;
  height:38px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7840 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7840_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7841_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u7841 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:614px;
  width:57px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u7841 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7841_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7842 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:650px;
  width:259px;
  height:288px;
  display:flex;
  transition:none;
}
#u7842 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:288px;
}
#u7842_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7843 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7844 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7845 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:56px;
  width:6px;
  height:6px;
  display:flex;
  transition:none;
  color:#FFFFFF;
}
#u7845 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u7845_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:22px;
  background:inherit;
  background-color:rgba(245, 154, 35, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u7846 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:48px;
  width:99px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u7846 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7846_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7847 {
  border-width:0px;
  position:absolute;
  left:-157px;
  top:314px;
  width:477px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(89.84324190618727deg);
  -moz-transform:rotate(89.84324190618727deg);
  -ms-transform:rotate(89.84324190618727deg);
  transform:rotate(89.84324190618727deg);
  transition:none;
  color:#FFFFFF;
}
#u7847 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:2px;
}
#u7847_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7848 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7849 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:542px;
  width:6px;
  height:6px;
  display:flex;
  transition:none;
  color:#FFFFFF;
}
#u7849 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u7849_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(245, 154, 35, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u7850 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:534px;
  width:127px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u7850 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7850_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7851 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7852 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:1414px;
  width:6px;
  height:6px;
  display:flex;
  transition:none;
  color:#FFFFFF;
}
#u7852 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u7852_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7853_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
  background:inherit;
  background-color:rgba(245, 154, 35, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u7853 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:1406px;
  width:85px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u7853 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7853_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7854 {
  border-width:0px;
  position:absolute;
  left:-326px;
  top:987px;
  width:813px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(90.022870298715deg);
  -moz-transform:rotate(90.022870298715deg);
  -ms-transform:rotate(90.022870298715deg);
  transform:rotate(90.022870298715deg);
  transition:none;
  color:#FFFFFF;
}
#u7854 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:814px;
  height:2px;
}
#u7854_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7855_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:74px;
  background:inherit;
  background-color:rgba(245, 63, 63, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(245, 63, 63, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7855 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:794px;
  width:63px;
  height:74px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7855 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7855_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7856 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:760px;
  width:34px;
  height:34px;
  display:flex;
  transition:none;
  font-size:16px;
  color:#FF0000;
}
#u7856 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u7856_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7857_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:111px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:22px;
  color:#FF0000;
}
#u7857 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:1241px;
  width:368px;
  height:111px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:22px;
  color:#FF0000;
}
#u7857 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7857_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7858 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:1242px;
  width:34px;
  height:34px;
  display:flex;
  transition:none;
  font-size:16px;
  color:#FF0000;
}
#u7858 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u7858_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7859_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7859 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:1280px;
  width:356px;
  height:76px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7859 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7859_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7860 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:645px;
  width:34px;
  height:34px;
  display:flex;
  transition:none;
  font-size:16px;
  color:#FF0000;
}
#u7860 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u7860_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7861_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:139px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:22px;
  color:#FF0000;
}
#u7861 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:1239px;
  width:335px;
  height:139px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:22px;
  color:#FF0000;
}
#u7861 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7861_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7862 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:1240px;
  width:34px;
  height:34px;
  display:flex;
  transition:none;
  font-size:16px;
  color:#FF0000;
}
#u7862 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u7862_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7863_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7863 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:1278px;
  width:323px;
  height:100px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7863 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7863_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7864 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:1528px;
  width:34px;
  height:34px;
  display:flex;
  transition:none;
  font-size:16px;
  color:#FF0000;
}
#u7864 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u7864_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7865_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u7865 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:2039px;
  width:40px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u7865 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7865_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7866_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:215px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:22px;
  color:#FF0000;
}
#u7866 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:2122px;
  width:341px;
  height:215px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:22px;
  color:#FF0000;
}
#u7866 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7866_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7867 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:2123px;
  width:34px;
  height:34px;
  display:flex;
  transition:none;
  font-size:16px;
  color:#FF0000;
}
#u7867 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u7867_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7868_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:176px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7868 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:2161px;
  width:329px;
  height:176px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7868 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7868_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7869 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:800px;
  width:9px;
  height:9px;
  display:flex;
  transition:none;
}
#u7869 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u7869_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7870 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:1533px;
  width:87px;
  height:457px;
  display:flex;
  transition:none;
}
#u7870 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:457px;
}
#u7870_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7871 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:2018px;
  width:87px;
  height:60px;
  display:flex;
  transition:none;
}
#u7871 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:60px;
}
#u7871_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:199px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(245, 63, 63, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7872 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:1496px;
  width:749px;
  height:199px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7872 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7872_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:756px;
  height:327px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(245, 63, 63, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7873 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:1934px;
  width:756px;
  height:327px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7873 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7873_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7874 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:1633px;
  width:126px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-1.1502898445448206deg);
  -moz-transform:rotate(-1.1502898445448206deg);
  -ms-transform:rotate(-1.1502898445448206deg);
  transform:rotate(-1.1502898445448206deg);
  transition:none;
}
#u7874 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7874_img {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-16px;
  width:143px;
  height:33px;
}
#u7874p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-3px;
  width:130px;
  height:6px;
  -webkit-transform:rotate(0.15028984454482064deg);
  -moz-transform:rotate(0.15028984454482064deg);
  -ms-transform:rotate(0.15028984454482064deg);
  transform:rotate(0.15028984454482064deg);
}
#u7874p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-0px;
  width:130px;
  height:6px;
}
#u7874p001 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-18px;
  width:36px;
  height:36px;
  -webkit-transform:rotate(0.15028984454482064deg);
  -moz-transform:rotate(0.15028984454482064deg);
  -ms-transform:rotate(0.15028984454482064deg);
  transform:rotate(0.15028984454482064deg);
}
#u7874p001_img {
  border-width:0px;
  position:absolute;
  left:-0px;
  top:0px;
  width:36px;
  height:36px;
}
#u7874p002 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:-2px;
  width:4px;
  height:4px;
  -webkit-transform:rotate(1.1502898445448206deg);
  -moz-transform:rotate(1.1502898445448206deg);
  -ms-transform:rotate(1.1502898445448206deg);
  transform:rotate(1.1502898445448206deg);
}
#u7874p002_img {
  border-width:0px;
  position:absolute;
  left:-0px;
  top:-0px;
  width:4px;
  height:4px;
}
#u7874_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7875 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:1956px;
  width:126px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-1.1502898445448206deg);
  -moz-transform:rotate(-1.1502898445448206deg);
  -ms-transform:rotate(-1.1502898445448206deg);
  transform:rotate(-1.1502898445448206deg);
  transition:none;
}
#u7875 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7875_img {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-16px;
  width:143px;
  height:33px;
}
#u7875p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:130px;
  height:6px;
  -webkit-transform:rotate(0.15028984454482064deg);
  -moz-transform:rotate(0.15028984454482064deg);
  -ms-transform:rotate(0.15028984454482064deg);
  transform:rotate(0.15028984454482064deg);
}
#u7875p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:6px;
}
#u7875p001 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-17px;
  width:36px;
  height:36px;
  -webkit-transform:rotate(0.15028984454482064deg);
  -moz-transform:rotate(0.15028984454482064deg);
  -ms-transform:rotate(0.15028984454482064deg);
  transform:rotate(0.15028984454482064deg);
}
#u7875p001_img {
  border-width:0px;
  position:absolute;
  left:-0px;
  top:0px;
  width:36px;
  height:36px;
}
#u7875p002 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:-1px;
  width:4px;
  height:4px;
  -webkit-transform:rotate(1.1502898445448206deg);
  -moz-transform:rotate(1.1502898445448206deg);
  -ms-transform:rotate(1.1502898445448206deg);
  transform:rotate(1.1502898445448206deg);
}
#u7875p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u7875_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:185px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7876 {
  border-width:0px;
  position:absolute;
  left:686px;
  top:709px;
  width:66px;
  height:185px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7876 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7876_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7877_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7877 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:718px;
  width:102px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7877 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7877_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7878_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7878 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:767px;
  width:93px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7878 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7878_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7879 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:821px;
  width:93px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7879 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7879_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7880_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7880 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:865px;
  width:91px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7880 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7880_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
