body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:relative;
  left:-182px;
  width:1919px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4535 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:268px;
  width:1592px;
  height:1040px;
  display:flex;
  transition:none;
}
#u4535 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4535_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1592px;
  height:1040px;
}
#u4535_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4536 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:799px;
  width:1210px;
  height:146px;
}
#u4537 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:46px;
  display:flex;
  transition:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:15px;
  color:#555555;
}
#u4537 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4537_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:46px;
}
#u4537_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4538 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:0px;
  width:175px;
  height:46px;
  display:flex;
  transition:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:15px;
  color:#555555;
}
#u4538 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4538_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:46px;
}
#u4538_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4539 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:0px;
  width:169px;
  height:46px;
  display:flex;
  transition:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:15px;
  color:#555555;
}
#u4539 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4539_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:46px;
}
#u4539_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4540 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:0px;
  width:200px;
  height:46px;
  display:flex;
  transition:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:15px;
  color:#555555;
}
#u4540 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4540_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:46px;
}
#u4540_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4541 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:0px;
  width:220px;
  height:46px;
  display:flex;
  transition:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:15px;
  color:#555555;
}
#u4541 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4541_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:46px;
}
#u4541_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4542 {
  border-width:0px;
  position:absolute;
  left:956px;
  top:0px;
  width:254px;
  height:46px;
  display:flex;
  transition:none;
  font-family:"Wasee", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:15px;
  color:#555555;
}
#u4542 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4542_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:46px;
}
#u4542_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4543 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:46px;
  width:191px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4543 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4543_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:40px;
}
#u4543_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4544 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:46px;
  width:175px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4544 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4544_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:40px;
}
#u4544_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4545 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:46px;
  width:169px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4545 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4545_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
}
#u4545_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4546 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:46px;
  width:200px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4546 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4546_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u4546_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4547 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:46px;
  width:220px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4547 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4547_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u4547_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4548 {
  border-width:0px;
  position:absolute;
  left:956px;
  top:46px;
  width:254px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4548 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4548_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u4548_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4549 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:86px;
  width:191px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4549 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4549_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:40px;
}
#u4549_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4550 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:86px;
  width:175px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4550 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4550_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:40px;
}
#u4550_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4551 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:86px;
  width:169px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4551 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4551_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
}
#u4551_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4552 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:86px;
  width:200px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4552 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4552_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u4552_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4553 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:86px;
  width:220px;
  height:40px;
  display:flex;
  transition:none;
}
#u4553 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4553_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u4553_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4554 {
  border-width:0px;
  position:absolute;
  left:956px;
  top:86px;
  width:254px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#1890FF;
}
#u4554 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4554_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u4554_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4555 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:126px;
  width:191px;
  height:20px;
  display:flex;
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4555 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4555_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:20px;
}
#u4555_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4556 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:126px;
  width:175px;
  height:20px;
  display:flex;
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4556 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4556_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:20px;
}
#u4556_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4557 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:126px;
  width:169px;
  height:20px;
  display:flex;
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4557 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4557_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:20px;
}
#u4557_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4558 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:126px;
  width:200px;
  height:20px;
  display:flex;
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4558 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u4558_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4559 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:126px;
  width:220px;
  height:20px;
  display:flex;
  transition:none;
}
#u4559 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4559_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:20px;
}
#u4559_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4560 {
  border-width:0px;
  position:absolute;
  left:956px;
  top:126px;
  width:254px;
  height:20px;
  display:flex;
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#1890FF;
}
#u4560 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4560_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:20px;
}
#u4560_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4561_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 141, 247, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4561 {
  border-width:0px;
  position:absolute;
  left:1541px;
  top:740px;
  width:140px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4561 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4561_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4562_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:782px;
  height:111px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4562 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:100px;
  width:782px;
  height:111px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4562 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4562_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:444px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  color:#D9001B;
}
#u4563 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:143px;
  width:444px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  color:#D9001B;
}
#u4563 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4563_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4564_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:264px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4564 {
  border-width:0px;
  position:absolute;
  left:1900px;
  top:740px;
  width:201px;
  height:264px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4564 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4564_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4565_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u4565 {
  border-width:0px;
  position:absolute;
  left:1977px;
  top:755px;
  width:78px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u4565 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4565_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4566_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u4566 {
  border-width:0px;
  position:absolute;
  left:1941px;
  top:809px;
  width:59px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u4566 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4566_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4567_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u4567 {
  border-width:0px;
  position:absolute;
  left:1943px;
  top:887px;
  width:115px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u4567 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4567_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4568 {
  border-width:0px;
  position:absolute;
  left:1690px;
  top:767px;
  width:0px;
  height:0px;
  transition:none;
  font-size:27px;
  color:#FFFF00;
}
#u4568_seg0 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:0px;
  width:12px;
  height:22px;
}
#u4568_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:10px;
  width:224px;
  height:12px;
}
#u4568_seg2 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:4px;
  width:24px;
  height:24px;
}
#u4568_text {
  border-width:0px;
  position:absolute;
  left:51px;
  top:8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
