body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:relative;
  left:-176px;
  width:2196px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5909 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:1308px;
  width:1136px;
  height:419px;
  display:flex;
  transition:none;
}
#u5909 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1136px;
  height:419px;
}
#u5909_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5910 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:1792px;
  width:1162px;
  height:375px;
  display:flex;
  transition:none;
}
#u5910 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1162px;
  height:375px;
}
#u5910_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5911 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:130px;
  width:1355px;
  height:588px;
  display:flex;
  transition:none;
}
#u5911 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1355px;
  height:588px;
}
#u5911_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5912_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:784px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:18px;
}
#u5912 {
  border-width:0px;
  position:absolute;
  left:1571px;
  top:181px;
  width:784px;
  height:95px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:18px;
}
#u5912 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5912_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5913_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:18px;
  text-align:left;
}
#u5913 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:142px;
  width:300px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:18px;
  text-align:left;
}
#u5913 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5913_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1096px;
  height:454px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u5914 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:246px;
  width:1096px;
  height:454px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5914 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5914_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5915 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:246px;
  width:969px;
  height:454px;
  display:flex;
  transition:none;
}
#u5915 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:969px;
  height:454px;
}
#u5915_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5916 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:717px;
  width:1132px;
  height:354px;
  display:flex;
  transition:none;
}
#u5916 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1132px;
  height:354px;
}
#u5916_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5917_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1132px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u5917 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:1071px;
  width:1132px;
  height:170px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5917 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5917_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u5918 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:1082px;
  width:57px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u5918 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5918_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5919 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:1112px;
  width:1069px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.01342450163113222deg);
  -moz-transform:rotate(0.01342450163113222deg);
  -ms-transform:rotate(0.01342450163113222deg);
  transform:rotate(0.01342450163113222deg);
  transition:none;
}
#u5919 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1070px;
  height:2px;
}
#u5919_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5920 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:1114px;
  width:911px;
  height:110px;
  display:flex;
  transition:none;
}
#u5920 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:911px;
  height:110px;
}
#u5920_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5921 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:142px;
  width:33px;
  height:33px;
  display:flex;
  transition:none;
  font-size:16px;
  color:#FF0000;
}
#u5921 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u5921_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5922 {
  border-width:0px;
  position:absolute;
  left:1571px;
  top:130px;
  width:33px;
  height:33px;
  display:flex;
  transition:none;
  font-size:16px;
  color:#FF0000;
}
#u5922 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u5922_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5923 {
  border-width:0px;
  position:absolute;
  left:1564px;
  top:334px;
  width:769px;
  height:366px;
  display:flex;
  transition:none;
}
#u5923 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:769px;
  height:366px;
}
#u5923_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5924_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:18px;
  color:#F2F2F2;
}
#u5924 {
  border-width:0px;
  position:absolute;
  left:1571px;
  top:302px;
  width:186px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:18px;
  color:#F2F2F2;
}
#u5924 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5924_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5925 {
  border-width:0px;
  position:absolute;
  left:1571px;
  top:767px;
  width:772px;
  height:281px;
  display:flex;
  transition:none;
}
#u5925 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:772px;
  height:281px;
}
#u5925_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5926_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:18px;
  color:#F2F2F2;
}
#u5926 {
  border-width:0px;
  position:absolute;
  left:1571px;
  top:732px;
  width:186px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:18px;
  color:#F2F2F2;
}
#u5926 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5926_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5927_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:784px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#F2F2F2;
}
#u5927 {
  border-width:0px;
  position:absolute;
  left:1588px;
  top:1355px;
  width:784px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#F2F2F2;
}
#u5927 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5927_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5928 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:1114px;
  width:33px;
  height:33px;
  display:flex;
  transition:none;
  font-size:16px;
  color:#FF0000;
}
#u5928 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u5928_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5929 {
  border-width:0px;
  position:absolute;
  left:1564px;
  top:1080px;
  width:33px;
  height:33px;
  display:flex;
  transition:none;
  font-size:16px;
  color:#FF0000;
}
#u5929 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5929_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u5929_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5930_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#F2F2F2;
}
#u5930 {
  border-width:0px;
  position:absolute;
  left:1571px;
  top:1122px;
  width:595px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#F2F2F2;
}
#u5930 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5930_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
