body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:relative;
  left:-173px;
  width:2691px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3567 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:1349px;
  width:1670px;
  height:1116px;
  display:flex;
  transition:none;
}
#u3567 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1670px;
  height:1116px;
}
#u3567_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3568 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:2541px;
  width:1670px;
  height:1049px;
  display:flex;
  transition:none;
}
#u3568 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3568_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1670px;
  height:1049px;
}
#u3568_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3569 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:3658px;
  width:1670px;
  height:1093px;
  display:flex;
  transition:none;
}
#u3569 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3569_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1670px;
  height:1093px;
}
#u3569_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3570 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:156px;
  width:1685px;
  height:1116px;
  display:flex;
  transition:none;
}
#u3570 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3570_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1685px;
  height:1116px;
}
#u3570_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1171px;
  height:636px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3571 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:606px;
  width:1171px;
  height:636px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3571 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3571_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3572 {
  border-width:0px;
  position:absolute;
  left:1135px;
  top:664px;
  width:202px;
  height:340px;
  display:flex;
  transition:none;
}
#u3572 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:340px;
}
#u3572_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3573 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:1050px;
  width:383px;
  height:66px;
  display:flex;
  transition:none;
}
#u3573 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3573_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:66px;
}
#u3573_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3574 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:632px;
  width:360px;
  height:239px;
  display:flex;
  transition:none;
}
#u3574 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3574_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:239px;
}
#u3574_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3575 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:907px;
  width:360px;
  height:223px;
  display:flex;
  transition:none;
}
#u3575 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3575_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:223px;
}
#u3575_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3576_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:237px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(24, 144, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3576 {
  border-width:0px;
  position:absolute;
  left:1438px;
  top:633px;
  width:360px;
  height:237px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3576 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3576_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3577_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u3577 {
  border-width:0px;
  position:absolute;
  left:1448px;
  top:649px;
  width:136px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u3577 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3577_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"MicrosoftYaHei", "微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.6470588235294118);
  text-align:left;
  line-height:20px;
}
#u3578 {
  border-width:0px;
  position:absolute;
  left:1456px;
  top:780px;
  width:53px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"MicrosoftYaHei", "微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.6470588235294118);
  text-align:left;
  line-height:20px;
}
#u3578 .text {
  position:absolute;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
  width:100%;
}
#u3578_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3579_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"MicrosoftYaHei", "微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.6470588235294118);
  text-align:left;
  line-height:20px;
}
#u3579 {
  border-width:0px;
  position:absolute;
  left:1518px;
  top:780px;
  width:77px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"MicrosoftYaHei", "微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.6470588235294118);
  text-align:left;
  line-height:20px;
}
#u3579 .text {
  position:absolute;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
  width:100%;
}
#u3579_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3580_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"MicrosoftYaHei", "微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.6470588235294118);
  text-align:left;
  line-height:20px;
}
#u3580 {
  border-width:0px;
  position:absolute;
  left:1604px;
  top:780px;
  width:89px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"MicrosoftYaHei", "微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.6470588235294118);
  text-align:left;
  line-height:20px;
}
#u3580 .text {
  position:absolute;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
  width:100%;
}
#u3580_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3581_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3581 {
  border-width:0px;
  position:absolute;
  left:1456px;
  top:753px;
  width:79px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3581 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3581_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3582_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"MicrosoftYaHei", "微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.6470588235294118);
  text-align:left;
  line-height:20px;
}
#u3582 {
  border-width:0px;
  position:absolute;
  left:1456px;
  top:718px;
  width:113px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"MicrosoftYaHei", "微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.6470588235294118);
  text-align:left;
  line-height:20px;
}
#u3582 .text {
  position:absolute;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
  width:100%;
}
#u3582_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3583_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3583 {
  border-width:0px;
  position:absolute;
  left:1456px;
  top:692px;
  width:79px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3583 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3583_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3584_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"MicrosoftYaHei", "微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.6470588235294118);
  text-align:left;
  line-height:20px;
}
#u3584 {
  border-width:0px;
  position:absolute;
  left:1582px;
  top:718px;
  width:77px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"MicrosoftYaHei", "微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.6470588235294118);
  text-align:left;
  line-height:20px;
}
#u3584 .text {
  position:absolute;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
  width:100%;
}
#u3584_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3585_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"MicrosoftYaHei", "微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.6470588235294118);
  text-align:left;
  line-height:20px;
}
#u3585 {
  border-width:0px;
  position:absolute;
  left:1672px;
  top:718px;
  width:41px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"MicrosoftYaHei", "微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.6470588235294118);
  text-align:left;
  line-height:20px;
}
#u3585 .text {
  position:absolute;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
  width:100%;
}
#u3585_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3586_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:223px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(24, 144, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3586 {
  border-width:0px;
  position:absolute;
  left:1437px;
  top:907px;
  width:360px;
  height:223px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3586 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3586_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3587_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u3587 {
  border-width:0px;
  position:absolute;
  left:1456px;
  top:923px;
  width:73px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u3587 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3587_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3588_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u3588 {
  border-width:0px;
  position:absolute;
  left:1456px;
  top:1028px;
  width:73px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u3588 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3588_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3589_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:20px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"MicrosoftYaHei", "微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.6470588235294118);
  text-align:left;
  line-height:20px;
}
#u3589 {
  border-width:0px;
  position:absolute;
  left:1464px;
  top:984px;
  width:199px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"MicrosoftYaHei", "微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.6470588235294118);
  text-align:left;
  line-height:20px;
}
#u3589 .text {
  position:absolute;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
  width:100%;
}
#u3589_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3590_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"MicrosoftYaHei", "微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.6470588235294118);
  text-align:left;
  line-height:20px;
}
#u3590 {
  border-width:0px;
  position:absolute;
  left:1465px;
  top:1094px;
  width:85px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"MicrosoftYaHei", "微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.6470588235294118);
  text-align:left;
  line-height:20px;
}
#u3590 .text {
  position:absolute;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
  width:100%;
}
#u3590_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3591 {
  border-width:0px;
  position:absolute;
  left:1539px;
  top:962px;
  width:14px;
  height:14px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  transition:none;
  font-family:"anticon", "Anticon Medium", "Anticon", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#0292EE;
}
#u3591 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u3591_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3592_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3592 {
  border-width:0px;
  position:absolute;
  left:1464px;
  top:959px;
  width:66px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3592 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3592_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3593 {
  border-width:0px;
  position:absolute;
  left:1540px;
  top:1069px;
  width:14px;
  height:14px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  transition:none;
  font-family:"anticon", "Anticon Medium", "Anticon", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#0292EE;
}
#u3593 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u3593_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3594_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3594 {
  border-width:0px;
  position:absolute;
  left:1465px;
  top:1066px;
  width:66px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3594 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3594_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3595_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3595 {
  border-width:0px;
  position:absolute;
  left:1350px;
  top:739px;
  width:40px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3595 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3595_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3596_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3596 {
  border-width:0px;
  position:absolute;
  left:1108px;
  top:703px;
  width:40px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3596 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3596_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3597 {
  border-width:0px;
  position:absolute;
  left:1147px;
  top:712px;
  width:57px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.11872998298048269deg);
  -moz-transform:rotate(-0.11872998298048269deg);
  -ms-transform:rotate(-0.11872998298048269deg);
  transform:rotate(-0.11872998298048269deg);
  transition:none;
}
#u3597 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:2px;
}
#u3597_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3598 {
  border-width:0px;
  position:absolute;
  left:1294px;
  top:728px;
  width:57px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.11872998298048269deg);
  -moz-transform:rotate(-0.11872998298048269deg);
  -ms-transform:rotate(-0.11872998298048269deg);
  transform:rotate(-0.11872998298048269deg);
  transition:none;
}
#u3598 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:2px;
}
#u3598_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3599 {
  border-width:0px;
  position:absolute;
  left:1348px;
  top:733px;
  width:16px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(43.741480318260685deg);
  -moz-transform:rotate(43.741480318260685deg);
  -ms-transform:rotate(43.741480318260685deg);
  transform:rotate(43.741480318260685deg);
  transition:none;
}
#u3599 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:2px;
}
#u3599_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3600 {
  border-width:0px;
  position:absolute;
  left:1942px;
  top:602px;
  width:34px;
  height:34px;
  display:flex;
  transition:none;
  font-size:16px;
  color:#FF0000;
}
#u3600 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u3600_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3601_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  height:188px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FF0000;
}
#u3601 {
  border-width:0px;
  position:absolute;
  left:1963px;
  top:630px;
  width:558px;
  height:188px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FF0000;
}
#u3601 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3601_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3602_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:134px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u3602 {
  border-width:0px;
  position:absolute;
  left:1980px;
  top:646px;
  width:458px;
  height:134px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u3602 .text {
  position:absolute;
  align-self:flex-start;
  padding:4px 0px 4px 8px;
  box-sizing:border-box;
  width:100%;
}
#u3602_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3603 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:602px;
  width:34px;
  height:34px;
  display:flex;
  transition:none;
  font-size:16px;
  color:#FF0000;
}
#u3603 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u3603_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3604 {
  border-width:0px;
  position:absolute;
  left:1963px;
  top:790px;
  width:564px;
  height:120px;
  display:flex;
  transition:none;
}
#u3604 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:564px;
  height:120px;
}
#u3604_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  color:#D9001B;
}
#u3605 {
  border-width:0px;
  position:absolute;
  left:2151px;
  top:809px;
  width:73px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  color:#D9001B;
}
#u3605 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3605_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3606 {
  border-width:0px;
  position:absolute;
  left:1957px;
  top:910px;
  width:907px;
  height:174px;
  display:flex;
  transition:none;
}
#u3606 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:907px;
  height:174px;
}
#u3606_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3607 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:1829px;
  width:34px;
  height:34px;
  display:flex;
  transition:none;
  font-size:16px;
  color:#FF0000;
}
#u3607 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u3607_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3608 {
  border-width:0px;
  position:absolute;
  left:1920px;
  top:1349px;
  width:34px;
  height:34px;
  display:flex;
  transition:none;
  font-size:16px;
  color:#FF0000;
}
#u3608 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u3608_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3609_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  height:120px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FF0000;
}
#u3609 {
  border-width:0px;
  position:absolute;
  left:1941px;
  top:1377px;
  width:558px;
  height:120px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FF0000;
}
#u3609 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3609_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3610_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u3610 {
  border-width:0px;
  position:absolute;
  left:1958px;
  top:1393px;
  width:458px;
  height:62px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u3610 .text {
  position:absolute;
  align-self:flex-start;
  padding:4px 0px 4px 8px;
  box-sizing:border-box;
  width:100%;
}
#u3610_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3611 {
  border-width:0px;
  position:absolute;
  left:1941px;
  top:2541px;
  width:34px;
  height:34px;
  display:flex;
  transition:none;
  font-size:16px;
  color:#FF0000;
}
#u3611 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u3611_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3612_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  height:58px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FF0000;
}
#u3612 {
  border-width:0px;
  position:absolute;
  left:1962px;
  top:2569px;
  width:558px;
  height:58px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FF0000;
}
#u3612 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3612_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u3613 {
  border-width:0px;
  position:absolute;
  left:1979px;
  top:2585px;
  width:458px;
  height:26px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u3613 .text {
  position:absolute;
  align-self:flex-start;
  padding:4px 0px 4px 8px;
  box-sizing:border-box;
  width:100%;
}
#u3613_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3614 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:3073px;
  width:34px;
  height:34px;
  display:flex;
  transition:none;
  font-size:16px;
  color:#FF0000;
}
#u3614 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u3614_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3615 {
  border-width:0px;
  position:absolute;
  left:1919px;
  top:3712px;
  width:34px;
  height:34px;
  display:flex;
  transition:none;
  font-size:16px;
  color:#FF0000;
}
#u3615 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u3615_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3616_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  height:58px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FF0000;
}
#u3616 {
  border-width:0px;
  position:absolute;
  left:1940px;
  top:3740px;
  width:558px;
  height:58px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FF0000;
}
#u3616 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3616_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u3617 {
  border-width:0px;
  position:absolute;
  left:1957px;
  top:3756px;
  width:458px;
  height:26px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u3617 .text {
  position:absolute;
  align-self:flex-start;
  padding:4px 0px 4px 8px;
  box-sizing:border-box;
  width:100%;
}
#u3617_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3618 {
  border-width:0px;
  position:absolute;
  left:789px;
  top:4079px;
  width:34px;
  height:34px;
  display:flex;
  transition:none;
  font-size:16px;
  color:#FF0000;
}
#u3618 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u3618_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3619 {
  border-width:0px;
  position:absolute;
  left:1087px;
  top:2961px;
  width:149px;
  height:55px;
  display:flex;
  transition:none;
}
#u3619 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:55px;
}
#u3619_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3620_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u3620 {
  border-width:0px;
  position:absolute;
  left:1208px;
  top:2979px;
  width:29px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u3620 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3620_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
