body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:relative;
  left:-81px;
  width:1364px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u32863 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:66px;
  width:795px;
  height:748px;
  display:flex;
  transition:none;
}
#u32863 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  height:748px;
}
#u32863_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32864 label {
  left:0px;
  width:100%;
  height:100%;
}
#u32864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u32864 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:362px;
  width:75px;
  height:18px;
  display:flex;
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u32864 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u32864_img.selected {
}
#u32864.selected {
}
#u32864_img.disabled {
}
#u32864.disabled {
}
#u32864_img.selected.error {
}
#u32864.selected.error {
}
#u32864_img.selected.hint {
}
#u32864.selected.hint {
}
#u32864_img.selected.error.hint {
}
#u32864.selected.error.hint {
}
#u32864_img.mouseOver.selected {
}
#u32864.mouseOver.selected {
}
#u32864_img.mouseOver.selected.error {
}
#u32864.mouseOver.selected.error {
}
#u32864_img.mouseOver.selected.hint {
}
#u32864.mouseOver.selected.hint {
}
#u32864_img.mouseOver.selected.error.hint {
}
#u32864.mouseOver.selected.error.hint {
}
#u32864_img.mouseDown.selected {
}
#u32864.mouseDown.selected {
}
#u32864_img.mouseDown.selected.error {
}
#u32864.mouseDown.selected.error {
}
#u32864_img.mouseDown.selected.hint {
}
#u32864.mouseDown.selected.hint {
}
#u32864_img.mouseDown.selected.error.hint {
}
#u32864.mouseDown.selected.error.hint {
}
#u32864_img.mouseOver.mouseDown.selected {
}
#u32864.mouseOver.mouseDown.selected {
}
#u32864_img.mouseOver.mouseDown.selected.error {
}
#u32864.mouseOver.mouseDown.selected.error {
}
#u32864_img.mouseOver.mouseDown.selected.hint {
}
#u32864.mouseOver.mouseDown.selected.hint {
}
#u32864_img.mouseOver.mouseDown.selected.error.hint {
}
#u32864.mouseOver.mouseDown.selected.error.hint {
}
#u32864_img.focused.selected {
}
#u32864.focused.selected {
}
#u32864_img.focused.selected.error {
}
#u32864.focused.selected.error {
}
#u32864_img.focused.selected.hint {
}
#u32864.focused.selected.hint {
}
#u32864_img.focused.selected.error.hint {
}
#u32864.focused.selected.error.hint {
}
#u32864_img.selected.disabled {
}
#u32864.selected.disabled {
}
#u32864_img.selected.hint.disabled {
}
#u32864.selected.hint.disabled {
}
#u32864_img.selected.error.disabled {
}
#u32864.selected.error.disabled {
}
#u32864_img.selected.error.hint.disabled {
}
#u32864.selected.error.hint.disabled {
}
#u32864_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:0px;
  width:63px;
  word-wrap:break-word;
  text-transform:none;
}
#u32864_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u32865_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u32865 {
  border-width:0px;
  position:absolute;
  left:912px;
  top:389px;
  width:533px;
  height:59px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u32865 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32865_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32866_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u32866 {
  border-width:0px;
  position:absolute;
  left:923px;
  top:398px;
  width:81px;
  height:23px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u32866 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32866_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32867_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u32867_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u32867_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u32867 {
  border-width:0px;
  position:absolute;
  left:986px;
  top:398px;
  width:120px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u32867 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32867_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u32867.disabled {
}
.u32867_input_option {
}
#u32868_input {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:36px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u32868_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:36px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u32868_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u32868 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:398px;
  width:117px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u32868 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32868_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:36px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u32868.disabled {
}
.u32868_input_option {
}
#u32869 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32870 {
  position:absolute;
  left:986px;
  top:434px;
}
#u32870_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:120px;
  height:152px;
  background-image:none;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 230, 235, 1);
  border-radius:4px;
  -moz-box-shadow:0px 4px 10px rgba(0, 0, 0, 0.09803921568627451);
  -webkit-box-shadow:0px 4px 10px rgba(0, 0, 0, 0.09803921568627451);
  box-shadow:0px 4px 10px rgba(0, 0, 0, 0.09803921568627451);
  overflow:hidden;
}
#u32870_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u32870_state0_content {
  left:-1px;
  top:-1px;
}
#u32871_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  color:#1D2129;
  text-align:left;
  line-height:22px;
}
#u32871 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:120px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#1D2129;
  text-align:left;
  line-height:22px;
}
#u32871 .text {
  position:absolute;
  align-self:center;
  padding:7px 12px 7px 12px;
  box-sizing:border-box;
  width:100%;
}
#u32871_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  color:#1D2129;
  text-align:left;
  line-height:22px;
}
#u32872 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:120px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#1D2129;
  text-align:left;
  line-height:22px;
}
#u32872 .text {
  position:absolute;
  align-self:center;
  padding:7px 12px 7px 12px;
  box-sizing:border-box;
  width:100%;
}
#u32872_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  color:#1D2129;
  text-align:left;
  line-height:22px;
}
#u32873 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:76px;
  width:120px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#1D2129;
  text-align:left;
  line-height:22px;
}
#u32873 .text {
  position:absolute;
  align-self:center;
  padding:7px 12px 7px 12px;
  box-sizing:border-box;
  width:100%;
}
#u32873_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u32874 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:4px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u32874 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32874_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u32875 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:148px;
  width:120px;
  height:4px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u32875 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32875_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.42745098039215684);
}
#u32876 {
  border-width:0px;
  position:absolute;
  left:1122px;
  top:406px;
  width:85px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.42745098039215684);
}
#u32876 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32876_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u32877 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:355px;
  width:33px;
  height:33px;
  display:flex;
  transition:none;
  font-size:16px;
  color:#FF0000;
}
#u32877 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u32877_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32878 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:365px;
  width:33px;
  height:33px;
  display:flex;
  transition:none;
  font-size:16px;
  color:#FF0000;
}
#u32878 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u32878_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32879 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:388px;
  width:658px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.21378922987711663deg);
  -moz-transform:rotate(0.21378922987711663deg);
  -ms-transform:rotate(0.21378922987711663deg);
  transform:rotate(0.21378922987711663deg);
  transition:none;
}
#u32879 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-16px;
  width:674px;
  height:33px;
}
#u32879p000 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:668px;
  height:10px;
  -webkit-transform:rotate(-0.21378922987711663deg);
  -moz-transform:rotate(-0.21378922987711663deg);
  -ms-transform:rotate(-0.21378922987711663deg);
  transform:rotate(-0.21378922987711663deg);
}
#u32879p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:668px;
  height:10px;
}
#u32879p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:4px;
  height:4px;
  -webkit-transform:rotate(-0.21378922987711663deg);
  -moz-transform:rotate(-0.21378922987711663deg);
  -ms-transform:rotate(-0.21378922987711663deg);
  transform:rotate(-0.21378922987711663deg);
}
#u32879p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u32879p002 {
  border-width:0px;
  position:absolute;
  left:633px;
  top:-17px;
  width:36px;
  height:36px;
  -webkit-transform:rotate(-180.2137892298771deg);
  -moz-transform:rotate(-180.2137892298771deg);
  -ms-transform:rotate(-180.2137892298771deg);
  transform:rotate(-180.2137892298771deg);
}
#u32879p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u32879_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32880 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:1241px;
  width:300px;
  height:120px;
}
#u32881 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  display:flex;
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u32881 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
}
#u32881_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32882 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:22px;
  display:flex;
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u32882 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
}
#u32882_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32883 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:22px;
  display:flex;
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u32883 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
}
#u32883_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32884 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:22px;
  width:100px;
  height:49px;
  display:flex;
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u32884 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:49px;
}
#u32884_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32885 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:22px;
  width:100px;
  height:49px;
  display:flex;
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u32885 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:49px;
}
#u32885_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32886 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:22px;
  width:100px;
  height:49px;
  display:flex;
  transition:none;
}
#u32886 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:49px;
}
#u32886_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32887 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:71px;
  width:100px;
  height:49px;
  display:flex;
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u32887 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:49px;
}
#u32887_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32888 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:71px;
  width:100px;
  height:49px;
  display:flex;
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u32888 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:49px;
}
#u32888_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32889 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:71px;
  width:100px;
  height:49px;
  display:flex;
  transition:none;
}
#u32889 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:49px;
}
#u32889_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  color:#FEFEFE;
}
#u32890 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:32px;
  width:37px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  color:#FEFEFE;
}
#u32890 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32890_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u32891_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  color:#FEFEFE;
}
#u32891 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:1209px;
  width:73px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  color:#FEFEFE;
}
#u32891 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32891_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u32892_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  color:#FEFEFE;
}
#u32892 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:1419px;
  width:73px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  color:#FEFEFE;
}
#u32892 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32892_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u32893_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FEFEFE;
}
#u32893 {
  border-width:0px;
  position:absolute;
  left:923px;
  top:638px;
  width:183px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FEFEFE;
}
#u32893 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32893_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u32894_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FEFEFE;
}
#u32894 {
  border-width:0px;
  position:absolute;
  left:923px;
  top:665px;
  width:497px;
  height:120px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FEFEFE;
}
#u32894 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32894_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u32895 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:929px;
  width:803px;
  height:227px;
  display:flex;
  transition:none;
}
#u32895 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:803px;
  height:227px;
}
#u32895_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32896_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  color:#FEFEFE;
}
#u32896 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:896px;
  width:73px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  color:#FEFEFE;
}
#u32896 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32896_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
