body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  position:relative;
  left:-35px;
  width:1134px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u14992 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:337px;
  width:624px;
  height:347px;
  display:flex;
  transition:none;
}
#u14992 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:624px;
  height:347px;
}
#u14992_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:231px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u14993 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:-386px;
  width:300px;
  height:231px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u14993 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14993_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  height:141px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u14994 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:26px;
  width:685px;
  height:141px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u14994 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14994_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14995 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:337px;
  width:502px;
  height:347px;
  display:flex;
  transition:none;
}
#u14995 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:347px;
}
#u14995_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14996 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:706px;
  width:399px;
  height:347px;
  display:flex;
  transition:none;
}
#u14996 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:347px;
}
#u14996_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14997 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:706px;
  width:516px;
  height:347px;
  display:flex;
  transition:none;
}
#u14997 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  height:347px;
}
#u14997_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14998_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u14998 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:225px;
  width:300px;
  height:90px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u14998 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14998_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
