body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:relative;
  left:-71px;
  width:1068px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8383 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:149px;
  width:1068px;
  height:505px;
  display:flex;
  transition:none;
}
#u8383 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1068px;
  height:505px;
}
#u8383_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8384_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8384 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:419px;
  width:1px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8384 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8384_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u8385_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:32px;
  background:inherit;
  background-color:rgba(26, 137, 250, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8385 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:444px;
  width:93px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8385 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8385_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8386_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u8386 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:396px;
  width:32px;
  height:23px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u8386 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8386_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8387_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u8387 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:400px;
  width:26px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u8387 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8387_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8388_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:32px;
  background:inherit;
  background-color:rgba(26, 137, 250, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8388 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:444px;
  width:93px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8388 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8388_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8389_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:23px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u8389 {
  border-width:0px;
  position:absolute;
  left:832px;
  top:477px;
  width:32px;
  height:23px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u8389 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8389_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u8390 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:481px;
  width:26px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u8390 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8390_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8391 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:682px;
  width:452px;
  height:230px;
  display:flex;
  transition:none;
}
#u8391 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:230px;
}
#u8391_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8392_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u8392 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:686px;
  width:48px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u8392 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8392_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8393_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8393 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:686px;
  width:21px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8393 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8393_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8394_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#797979;
}
#u8394 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:755px;
  width:24px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#797979;
}
#u8394 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8394_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8395_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u8395 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:713px;
  width:29px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u8395 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8395_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8396_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u8396 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:755px;
  width:29px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u8396 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8396_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8397_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u8397 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:797px;
  width:29px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u8397 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8397_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8398_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u8398 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:840px;
  width:29px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u8398 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8398_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#797979;
}
#u8399 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:864px;
  width:14px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#797979;
}
#u8399 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8399_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8400_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#797979;
}
#u8400 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:839px;
  width:14px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#797979;
}
#u8400 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8400_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8401_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#797979;
}
#u8401 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:818px;
  width:14px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#797979;
}
#u8401 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8401_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8402_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#797979;
}
#u8402 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:797px;
  width:21px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#797979;
}
#u8402 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8402_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8403 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:829px;
  width:334px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.001712396694104454deg);
  -moz-transform:rotate(0.001712396694104454deg);
  -ms-transform:rotate(0.001712396694104454deg);
  transform:rotate(0.001712396694104454deg);
  transition:none;
}
#u8403 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:2px;
}
#u8403_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8404 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:786px;
  width:338px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.03354170547145893deg);
  -moz-transform:rotate(-0.03354170547145893deg);
  -ms-transform:rotate(-0.03354170547145893deg);
  transform:rotate(-0.03354170547145893deg);
  transition:none;
}
#u8404 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:2px;
}
#u8404_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8405 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:745px;
  width:338px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.03354170547145893deg);
  -moz-transform:rotate(-0.03354170547145893deg);
  -ms-transform:rotate(-0.03354170547145893deg);
  transform:rotate(-0.03354170547145893deg);
  transition:none;
}
#u8405 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:2px;
}
#u8405_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8406_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#797979;
}
#u8406 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:776px;
  width:21px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#797979;
}
#u8406 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8406_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8407_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#797979;
}
#u8407 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:755px;
  width:21px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#797979;
}
#u8407 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8407_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8408_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#797979;
}
#u8408 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:737px;
  width:21px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#797979;
}
#u8408 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8408_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#797979;
}
#u8409 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:717px;
  width:21px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#797979;
}
#u8409 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8409_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8410 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:871px;
  width:334px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.001712396694104454deg);
  -moz-transform:rotate(0.001712396694104454deg);
  -ms-transform:rotate(0.001712396694104454deg);
  transform:rotate(0.001712396694104454deg);
  transition:none;
}
#u8410 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:2px;
}
#u8410_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u8411 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:717px;
  width:68px;
  height:59px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u8411 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8411_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8412 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:682px;
  width:452px;
  height:230px;
  display:flex;
  transition:none;
}
#u8412 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:230px;
}
#u8412_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u8413 {
  border-width:0px;
  position:absolute;
  left:707px;
  top:686px;
  width:48px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u8413 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8413_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8414_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#797979;
}
#u8414 {
  border-width:0px;
  position:absolute;
  left:676px;
  top:755px;
  width:24px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#797979;
}
#u8414 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8414_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8415_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u8415 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:713px;
  width:29px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u8415 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8415_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8416_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u8416 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:755px;
  width:29px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u8416 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8416_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8417_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u8417 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:797px;
  width:29px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u8417 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8417_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u8418 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:840px;
  width:29px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u8418 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8418_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#797979;
}
#u8419 {
  border-width:0px;
  position:absolute;
  left:685px;
  top:864px;
  width:14px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#797979;
}
#u8419 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8419_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8420_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#797979;
}
#u8420 {
  border-width:0px;
  position:absolute;
  left:685px;
  top:839px;
  width:14px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#797979;
}
#u8420 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8420_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#797979;
}
#u8421 {
  border-width:0px;
  position:absolute;
  left:685px;
  top:818px;
  width:14px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#797979;
}
#u8421 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8421_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8422_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#797979;
}
#u8422 {
  border-width:0px;
  position:absolute;
  left:685px;
  top:797px;
  width:14px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#797979;
}
#u8422 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8422_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8423 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:829px;
  width:334px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.001712396694104454deg);
  -moz-transform:rotate(0.001712396694104454deg);
  -ms-transform:rotate(0.001712396694104454deg);
  transform:rotate(0.001712396694104454deg);
  transition:none;
}
#u8423 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:2px;
}
#u8423_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8424 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:786px;
  width:338px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.03354170547145893deg);
  -moz-transform:rotate(-0.03354170547145893deg);
  -ms-transform:rotate(-0.03354170547145893deg);
  transform:rotate(-0.03354170547145893deg);
  transition:none;
}
#u8424 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:2px;
}
#u8424_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8425 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:745px;
  width:338px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.03354170547145893deg);
  -moz-transform:rotate(-0.03354170547145893deg);
  -ms-transform:rotate(-0.03354170547145893deg);
  transform:rotate(-0.03354170547145893deg);
  transition:none;
}
#u8425 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:2px;
}
#u8425_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8426_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#797979;
}
#u8426 {
  border-width:0px;
  position:absolute;
  left:685px;
  top:776px;
  width:14px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#797979;
}
#u8426 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8426_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#797979;
}
#u8427 {
  border-width:0px;
  position:absolute;
  left:685px;
  top:755px;
  width:14px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#797979;
}
#u8427 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8427_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8428_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#797979;
}
#u8428 {
  border-width:0px;
  position:absolute;
  left:685px;
  top:737px;
  width:14px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#797979;
}
#u8428 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8428_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8429_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#797979;
}
#u8429 {
  border-width:0px;
  position:absolute;
  left:685px;
  top:717px;
  width:14px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#797979;
}
#u8429 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8429_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8430 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:871px;
  width:334px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.001712396694104454deg);
  -moz-transform:rotate(0.001712396694104454deg);
  -ms-transform:rotate(0.001712396694104454deg);
  transform:rotate(0.001712396694104454deg);
  transition:none;
}
#u8430 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:2px;
}
#u8430_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u8431 {
  border-width:0px;
  position:absolute;
  left:1055px;
  top:717px;
  width:68px;
  height:59px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u8431 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8431_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u8432 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:686px;
  width:48px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u8432 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8432_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8433 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:444px;
  width:27px;
  height:26px;
  display:flex;
  transition:none;
  font-size:16px;
  color:#FF0000;
}
#u8433 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:26px;
}
#u8433_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#E1102E;
}
#u8434 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:447px;
  width:107px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#E1102E;
}
#u8434 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8434_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8435 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:395px;
  width:27px;
  height:26px;
  display:flex;
  transition:none;
  font-size:16px;
  color:#FF0000;
}
#u8435 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:26px;
}
#u8435_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8436_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#E1102E;
}
#u8436 {
  border-width:0px;
  position:absolute;
  left:757px;
  top:400px;
  width:93px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#E1102E;
}
#u8436 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8436_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
