body {
  margin:0px;
  background-color:rgba(121, 121, 121, 1);
  background-image:none;
  position:relative;
  left:-24.999812482114056px;
  width:1080.000187517886px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8687_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u8687 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:555px;
  width:415px;
  height:98px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u8687 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8687_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8688 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:517px;
  width:29px;
  height:30px;
  display:flex;
  transition:none;
  font-size:16px;
  color:#FF0000;
}
#u8688 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
#u8688_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8689 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:513px;
  width:623px;
  height:219px;
  display:flex;
  transition:none;
}
#u8689 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:623px;
  height:219px;
}
#u8689_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8690_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u8690 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:602px;
  width:38px;
  height:34px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u8690 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8690_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8691_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u8691 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:606px;
  width:33px;
  height:11px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u8691 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8691_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u8692 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:620px;
  width:64px;
  height:23px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u8692 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8692_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8693 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:602px;
  width:84px;
  height:41px;
  display:flex;
  transition:none;
}
#u8693 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:41px;
}
#u8693_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8694 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:585px;
  width:26px;
  height:29px;
  display:flex;
  transition:none;
  font-size:16px;
  color:#FF0000;
}
#u8694 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:29px;
}
#u8694_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8695_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8695 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:103px;
  width:144px;
  height:39px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8695 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8695_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8696_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8696 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:308px;
  width:144px;
  height:39px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8696 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8696_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8697_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8697 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:238px;
  width:144px;
  height:39px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8697 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8697_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8698_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8698 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:320px;
  width:144px;
  height:39px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8698 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8698_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8699_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8699 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:391px;
  width:144px;
  height:39px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8699 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8699_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8700_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8700 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:196px;
  width:119px;
  height:47px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8700 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8700_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8701 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:220px;
  width:0px;
  height:0px;
  transition:none;
  font-size:28px;
  color:#F4A40D;
}
#u8701_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:27px;
  height:10px;
}
#u8701_seg1 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:-102px;
  width:10px;
  height:107px;
}
#u8701_seg2 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:-102px;
  width:32px;
  height:10px;
}
#u8701_seg3 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:-107px;
  width:20px;
  height:20px;
}
#u8701_text {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:-59px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8702 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:220px;
  width:0px;
  height:0px;
  transition:none;
  font-size:28px;
  color:#F4A40D;
}
#u8702_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:27px;
  height:10px;
}
#u8702_seg1 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:-5px;
  width:10px;
  height:118px;
}
#u8702_seg2 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:103px;
  width:19px;
  height:10px;
}
#u8702_seg3 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:98px;
  width:20px;
  height:20px;
}
#u8702_text {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:42px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8703 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:260px;
  width:0px;
  height:0px;
  transition:none;
  font-size:28px;
  color:#F4A40D;
}
#u8703_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-7px;
  width:10px;
  height:7px;
}
#u8703_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-7px;
  width:99px;
  height:10px;
}
#u8703_seg2 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:-12px;
  width:20px;
  height:20px;
}
#u8703_text {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8704 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:260px;
  width:0px;
  height:0px;
  transition:none;
  font-size:28px;
  color:#F4A40D;
}
#u8704_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:85px;
}
#u8704_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:75px;
  width:99px;
  height:10px;
}
#u8704_seg2 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:70px;
  width:20px;
  height:20px;
}
#u8704_text {
  border-width:0px;
  position:absolute;
  left:-43px;
  top:72px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8705 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:260px;
  width:0px;
  height:0px;
  transition:none;
  font-size:28px;
  color:#F4A40D;
}
#u8705_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:156px;
}
#u8705_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:146px;
  width:99px;
  height:10px;
}
#u8705_seg2 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:141px;
  width:20px;
  height:20px;
}
#u8705_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:114px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8706_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8706 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:238px;
  width:144px;
  height:39px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8706 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8706_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8707 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:260px;
  width:0px;
  height:0px;
  transition:none;
  font-size:28px;
  color:#F4A40D;
}
#u8707_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-7px;
  width:10px;
  height:7px;
}
#u8707_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-7px;
  width:63px;
  height:10px;
}
#u8707_seg2 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:-12px;
  width:20px;
  height:20px;
}
#u8707_text {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8708_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u8708 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:51px;
  width:505px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u8708 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8708_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8709 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:454px;
  width:873px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.02707100177160044deg);
  -moz-transform:rotate(0.02707100177160044deg);
  -ms-transform:rotate(0.02707100177160044deg);
  transform:rotate(0.02707100177160044deg);
  transition:none;
}
#u8709 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:874px;
  height:2px;
}
#u8709_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
