body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  position:relative;
  left:-67px;
  width:2115px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u10176 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:61px;
  width:807px;
  height:706px;
  display:flex;
  transition:none;
}
#u10176 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:807px;
  height:706px;
}
#u10176_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10177 {
  border-width:0px;
  position:absolute;
  left:1113px;
  top:62px;
  width:1069px;
  height:869px;
  display:flex;
  transition:none;
}
#u10177 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1069px;
  height:869px;
}
#u10177_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10178 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:43px;
  width:310px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10178 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10178_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10179 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:75px;
  width:2px;
  height:888px;
  display:flex;
  -webkit-transform:rotate(-93.24586644327455deg);
  -moz-transform:rotate(-93.24586644327455deg);
  -ms-transform:rotate(-93.24586644327455deg);
  transform:rotate(-93.24586644327455deg);
  transition:none;
}
#u10179 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10179_img {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:-10px;
  width:36px;
  height:915px;
}
#u10179p000 {
  border-width:0px;
  position:absolute;
  left:-449px;
  top:437px;
  width:900px;
  height:14px;
  -webkit-transform:rotate(90.24586644327455deg);
  -moz-transform:rotate(90.24586644327455deg);
  -ms-transform:rotate(90.24586644327455deg);
  transform:rotate(90.24586644327455deg);
}
#u10179p000_img {
  border-width:0px;
  position:absolute;
  left:-0px;
  top:0px;
  width:900px;
  height:14px;
}
#u10179p001 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-8px;
  width:26px;
  height:24px;
  -webkit-transform:rotate(90.24586644327455deg);
  -moz-transform:rotate(90.24586644327455deg);
  -ms-transform:rotate(90.24586644327455deg);
  transform:rotate(90.24586644327455deg);
}
#u10179p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:24px;
}
#u10179p002 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:865px;
  width:40px;
  height:40px;
  -webkit-transform:rotate(270.24586644327456deg);
  -moz-transform:rotate(270.24586644327456deg);
  -ms-transform:rotate(270.24586644327456deg);
  transform:rotate(270.24586644327456deg);
}
#u10179p002_img {
  border-width:0px;
  position:absolute;
  left:-0px;
  top:-0px;
  width:40px;
  height:40px;
}
#u10179_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  color:#D9001B;
}
#u10180 {
  border-width:0px;
  position:absolute;
  left:1282px;
  top:518px;
  width:55px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  color:#D9001B;
}
#u10180 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10180_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10181 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:518px;
  width:87px;
  height:51px;
  display:flex;
  transition:none;
}
#u10181 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:51px;
}
#u10181_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10182 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:444px;
  width:210px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10182 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10182_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
