body {
  margin:0px;
  background-color:rgba(102, 102, 102, 1);
  background-image:none;
  position:relative;
  left:-46px;
  width:1291px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8668 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:104px;
  width:1166px;
  height:495px;
  display:flex;
  transition:none;
}
#u8668 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1166px;
  height:495px;
}
#u8668_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8669 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:70px;
  width:5px;
  height:200px;
  display:flex;
  transition:none;
}
#u8669 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8669_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-3px;
  width:31px;
  height:216px;
}
#u8669_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8670_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FEFEFE;
}
#u8670 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:-18px;
  width:275px;
  height:1px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FEFEFE;
}
#u8670 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8670_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8671_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FEFEFE;
}
#u8671 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:17px;
  width:1px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FEFEFE;
}
#u8671 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8671_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u8672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FEFEFE;
}
#u8672 {
  border-width:0px;
  position:absolute;
  left:874px;
  top:-18px;
  width:43px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FEFEFE;
}
#u8672 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8672_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FEFEFE;
}
#u8673 {
  border-width:0px;
  position:absolute;
  left:874px;
  top:12px;
  width:463px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FEFEFE;
}
#u8673 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8673_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8674 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:-18px;
  width:150px;
  height:100px;
}
#u8675 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  display:flex;
  transition:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
}
#u8675 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u8675_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8676 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:150px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8676 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u8676_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8677 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:150px;
  height:30px;
  display:flex;
  transition:none;
}
#u8677 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u8677_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FEFEFE;
}
#u8678 {
  border-width:0px;
  position:absolute;
  left:874px;
  top:62px;
  width:281px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FEFEFE;
}
#u8678 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8678_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8679 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:773px;
  width:1166px;
  height:423px;
  display:flex;
  transition:none;
}
#u8679 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1166px;
  height:423px;
}
#u8679_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8680 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:740px;
  width:5px;
  height:200px;
  display:flex;
  transition:none;
}
#u8680 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8680_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-3px;
  width:31px;
  height:216px;
}
#u8680_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8681 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:652px;
  width:150px;
  height:100px;
}
#u8682 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  display:flex;
  transition:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
}
#u8682 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u8682_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8683 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:150px;
  height:40px;
  display:flex;
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8683 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u8683_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8684 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:150px;
  height:30px;
  display:flex;
  transition:none;
}
#u8684 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u8684_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8685 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:271px;
  width:33px;
  height:33px;
  display:flex;
  transition:none;
  font-size:16px;
  color:#FF0000;
}
#u8685 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u8685_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8686 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:940px;
  width:33px;
  height:33px;
  display:flex;
  transition:none;
  font-size:16px;
  color:#FF0000;
}
#u8686 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u8686_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
