body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  position:relative;
  left:-85px;
  width:1472px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u9328 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:48px;
  width:1019px;
  height:369px;
  display:flex;
  transition:none;
}
#u9328 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9328_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1019px;
  height:369px;
}
#u9328_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9329 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:195px;
  width:108px;
  height:61px;
  display:flex;
  transition:none;
}
#u9329 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9329_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:61px;
}
#u9329_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9330_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u9330 {
  border-width:0px;
  position:absolute;
  left:1146px;
  top:173px;
  width:411px;
  height:90px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u9330 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9330_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
