body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  position:relative;
  left:-27px;
  width:1217px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u16639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:615px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Medium", "PingFang SC Medium", "PingFang SC", sans-serif;
  font-style:normal;
}
#u16639 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:65px;
  width:615px;
  height:115px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Medium", "PingFang SC Medium", "PingFang SC", sans-serif;
  font-style:normal;
}
#u16639 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16639_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u16640 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:376px;
  width:422px;
  height:90px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u16640 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16640_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16641_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:238px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:11px;
  filter:drop-shadow(none);
  transition:none;
  text-align:left;
}
#u16641 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:484px;
  width:253px;
  height:238px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:left;
}
#u16641 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 11px;
  box-sizing:border-box;
  width:100%;
}
#u16641_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16642 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:198px;
  width:101px;
  height:66px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16642 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16642_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16643_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16643 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:198px;
  width:101px;
  height:66px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16643 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16643_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16644_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16644 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:198px;
  width:101px;
  height:66px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16644 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16644_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16645 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:201px;
  width:100px;
  height:60px;
  display:flex;
  transition:none;
}
#u16645 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u16645_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16646 {
  border-width:0px;
  position:absolute;
  left:928px;
  top:198px;
  width:101px;
  height:66px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16646 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16646_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16647 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:231px;
  width:0px;
  height:0px;
  transition:none;
  font-size:12px;
}
#u16647_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:77px;
  height:10px;
}
#u16647_seg1 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-9px;
  width:19px;
  height:18px;
}
#u16647_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16648 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:231px;
  width:0px;
  height:0px;
  transition:none;
  font-size:12px;
}
#u16648_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:90px;
  height:10px;
}
#u16648_seg1 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:-9px;
  width:19px;
  height:18px;
}
#u16648_text {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16649 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:231px;
  width:0px;
  height:0px;
  transition:none;
  font-size:12px;
}
#u16649_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:90px;
  height:10px;
}
#u16649_seg1 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:-9px;
  width:19px;
  height:18px;
}
#u16649_text {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16650 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:231px;
  width:0px;
  height:0px;
  transition:none;
  font-size:12px;
}
#u16650_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:90px;
  height:10px;
}
#u16650_seg1 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:-9px;
  width:19px;
  height:18px;
}
#u16650_text {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16651_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:27px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16651 {
  border-width:0px;
  position:absolute;
  left:1114px;
  top:204px;
  width:83px;
  height:54px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16651 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16651_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16652 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:261px;
  width:0px;
  height:0px;
  transition:none;
  font-size:12px;
}
#u16652_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:70px;
}
#u16652_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:60px;
  width:373px;
  height:10px;
}
#u16652_seg2 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:-3px;
  width:10px;
  height:73px;
}
#u16652_seg3 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:-9px;
  width:18px;
  height:19px;
}
#u16652_text {
  border-width:0px;
  position:absolute;
  left:133px;
  top:57px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16653 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:231px;
  width:0px;
  height:0px;
  transition:none;
  font-size:12px;
}
#u16653_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:90px;
  height:10px;
}
#u16653_seg1 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:-9px;
  width:19px;
  height:18px;
}
#u16653_text {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16654 {
  border-width:0px;
  position:absolute;
  left:803px;
  top:283px;
  width:40px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16654 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16654_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16655 {
  border-width:0px;
  position:absolute;
  left:856px;
  top:201px;
  width:40px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16655 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16655_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:27px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16656 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:204px;
  width:83px;
  height:54px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16656 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16656_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16657 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:231px;
  width:0px;
  height:0px;
  transition:none;
  font-size:12px;
}
#u16657_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:65px;
  height:10px;
}
#u16657_seg1 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:-9px;
  width:19px;
  height:18px;
}
#u16657_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16658 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:657px;
  width:131px;
  height:65px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16658 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16658_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16659_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:918px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u16659 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:-1135px;
  width:918px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u16659 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16659_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16660 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:-1089px;
  width:1043px;
  height:1047px;
  display:flex;
  transition:none;
}
#u16660 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1043px;
  height:1047px;
}
#u16660_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16661_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16661 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:744px;
  width:230px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16661 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16661_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16662 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:462px;
  width:721px;
  height:260px;
}
#u16663 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:40px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16663 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:40px;
}
#u16663_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16664 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:0px;
  width:244px;
  height:40px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u16664 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:40px;
}
#u16664_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16665 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:0px;
  width:266px;
  height:40px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u16665 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:40px;
}
#u16665_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16666 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:212px;
  height:55px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u16666 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:55px;
}
#u16666_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16667 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:40px;
  width:244px;
  height:55px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16667 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:55px;
}
#u16667_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16668 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:40px;
  width:266px;
  height:55px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16668 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:55px;
}
#u16668_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16669 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:95px;
  width:212px;
  height:55px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u16669 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:55px;
}
#u16669_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16670 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:95px;
  width:244px;
  height:55px;
  display:flex;
  transition:none;
}
#u16670 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:55px;
}
#u16670_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16671 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:95px;
  width:266px;
  height:55px;
  display:flex;
  transition:none;
}
#u16671 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:55px;
}
#u16671_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16672 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:212px;
  height:55px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u16672 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:55px;
}
#u16672_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16673 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:150px;
  width:244px;
  height:55px;
  display:flex;
  transition:none;
}
#u16673 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:55px;
}
#u16673_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16674 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:150px;
  width:266px;
  height:55px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16674 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:55px;
}
#u16674_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16675 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:205px;
  width:212px;
  height:55px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u16675 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:55px;
}
#u16675_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16676 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:205px;
  width:244px;
  height:55px;
  display:flex;
  transition:none;
}
#u16676 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:55px;
}
#u16676_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16677 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:205px;
  width:266px;
  height:55px;
  display:flex;
  transition:none;
}
#u16677 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:55px;
}
#u16677_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:615px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16678 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:850px;
  width:615px;
  height:72px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16678 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16678_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16679 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:944px;
  width:1189px;
  height:434px;
  display:flex;
  transition:none;
}
#u16679 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1189px;
  height:434px;
}
#u16679_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u16680 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:1278px;
  width:81px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u16680 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16680_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16681_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u16681 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:1406px;
  width:156px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u16681 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16681_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
