body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:relative;
  left:-121px;
  width:1251px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7748 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:104px;
  width:824px;
  height:369px;
  display:flex;
  transition:none;
}
#u7748 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:824px;
  height:369px;
}
#u7748_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7749_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 137, 250, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#1A89FA;
}
#u7749 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:300px;
  width:62px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#1A89FA;
}
#u7749 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7749_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7750 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:289px;
  width:20px;
  height:18px;
  display:flex;
  transition:none;
  font-size:11px;
  color:#FF0000;
}
#u7750 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u7750_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7751 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:505px;
  width:266px;
  height:110px;
  display:flex;
  transition:none;
}
#u7751 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:110px;
}
#u7751_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7752_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7752 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:514px;
  width:216px;
  height:67px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7752 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7752_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7753_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u7753 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:517px;
  width:67px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u7753 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7753_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7754_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u7754 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:540px;
  width:177px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u7754 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7754_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7755 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:307px;
  width:0px;
  height:0px;
  transition:none;
  font-size:28px;
  color:#F4A40D;
}
#u7755_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:15px;
}
#u7755_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:5px;
  width:101px;
  height:10px;
}
#u7755_seg2 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:5px;
  width:10px;
  height:188px;
}
#u7755_seg3 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:178px;
  width:20px;
  height:20px;
}
#u7755_text {
  border-width:0px;
  position:absolute;
  left:41px;
  top:43px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7756 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7757_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 230, 235, 1);
  border-radius:2px;
  filter:drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.09803921568627451));
  transition:none;
}
#u7757 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:512px;
  width:169px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7757 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7757_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7758 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7759 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7760_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1D2129;
  line-height:22px;
}
#u7760 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:521px;
  width:57px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1D2129;
  line-height:22px;
}
#u7760 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7760_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7761 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:524px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u7761 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7761_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7762 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:522px;
  width:20px;
  height:20px;
  display:flex;
  transition:none;
}
#u7762 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7762_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7763 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7764_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 230, 235, 1);
  border-radius:2px;
  filter:drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.09803921568627451));
  transition:none;
}
#u7764 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:568px;
  width:169px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7764 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7764_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7765 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7766 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7767_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1D2129;
  line-height:22px;
}
#u7767 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:577px;
  width:57px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1D2129;
  line-height:22px;
}
#u7767 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7767_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7768 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:580px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u7768 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7768_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7769 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:578px;
  width:20px;
  height:20px;
  display:flex;
  transition:none;
}
#u7769 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7769_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7770_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:335px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:22px;
  color:#FF0000;
}
#u7770 {
  border-width:0px;
  position:absolute;
  left:972px;
  top:115px;
  width:400px;
  height:335px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:22px;
  color:#FF0000;
}
#u7770 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7770_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7771 {
  border-width:0px;
  position:absolute;
  left:968px;
  top:104px;
  width:34px;
  height:34px;
  display:flex;
  transition:none;
  font-size:16px;
  color:#FF0000;
}
#u7771 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u7771_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7772_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:316px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7772 {
  border-width:0px;
  position:absolute;
  left:978px;
  top:154px;
  width:359px;
  height:316px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7772 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7772_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7773_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u7773 {
  border-width:0px;
  position:absolute;
  left:768px;
  top:272px;
  width:184px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u7773 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7773_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7774 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:323px;
  width:66px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-89.72683983117346deg);
  -moz-transform:rotate(-89.72683983117346deg);
  -ms-transform:rotate(-89.72683983117346deg);
  transform:rotate(-89.72683983117346deg);
  transition:none;
}
#u7774 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:75px;
  height:19px;
}
#u7774p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:72px;
  height:6px;
  -webkit-transform:rotate(-0.2731601688265357deg);
  -moz-transform:rotate(-0.2731601688265357deg);
  -ms-transform:rotate(-0.2731601688265357deg);
  transform:rotate(-0.2731601688265357deg);
}
#u7774p000_img {
  border-width:0px;
  position:absolute;
  left:-0px;
  top:0px;
  width:72px;
  height:6px;
}
#u7774p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:4px;
  height:4px;
  -webkit-transform:rotate(89.72683983117346deg);
  -moz-transform:rotate(89.72683983117346deg);
  -ms-transform:rotate(89.72683983117346deg);
  transform:rotate(89.72683983117346deg);
}
#u7774p001_img {
  border-width:0px;
  position:absolute;
  left:-0px;
  top:-0px;
  width:4px;
  height:4px;
}
#u7774p002 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:-11px;
  width:24px;
  height:22px;
  -webkit-transform:rotate(179.72683983117346deg);
  -moz-transform:rotate(179.72683983117346deg);
  -ms-transform:rotate(179.72683983117346deg);
  transform:rotate(179.72683983117346deg);
}
#u7774p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u7774_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
